[Unit]
Description=Planimbly gunicorn service

[Service]
User=%u
Group=%g
WorkingDirectory=%h/repos/planimbly-prod/planimbly
EnvironmentFile=%h/repos/planimbly-prod/planimbly/.env
ExecStart=%h/repos/planimbly-prod/planimbly/venv/bin/gunicorn planimbly.wsgi --config %h/repos/planimbly-prod/planimbly/production/on-premises/gunicorn/gunicorn.conf.py
