projEnv
__pycache__
/__pycache__/
__pycache__/
.idea
/.idea/
.idea/
*.pyc
/*.pyc/

/*.pyc
*.pyc/

/venv/
venv/
venv

/.vscode/
.vscode
.vscode/

htmlcov
htmlcov/
/htmlcov/

.coverage

.pytest_cache

*.proto

frontend_tests/
frontend_tests