.git
.gitignore
docs/
frontend_tests/
nginx/
production/
venv/
.coveragerc
.dockerignore
.env
db.sqlite3
dev_test_data.sql
docker-compose.prod.yml
docker-compose.test.yml
docker-compose.yml
Dockerfile.dev
Dockerfile.prod
employees.csv
LICENSE
Procfile
README.md
requirements_dev.txt
runtime.txt
schedule_data.sql
setup.cfg

projEnv
__pycache__
/__pycache__/
__pycache__/
.idea
/.idea/
.idea/
*.pyc
/*.pyc/

/*.pyc
*.pyc/

.vscode/

htmlcov/

.coverage
.pytest_cache
*.proto

staticfiles
staticfiles/
mediafiles
mediafiles/

production_volumes
production_volumes/

env_variables.yaml