projEnv
__pycache__
/__pycache__/
__pycache__/
.idea
/.idea/
.idea/
*.pyc
/*.pyc/

/*.pyc
*.pyc/

db.sqlite3
/db.sqlite3
db.sqlite3/
/db.sqlite3/

.env

/venv/
venv/
venv

/.vscode/
.vscode
.vscode/

htmlcov
htmlcov/
/htmlcov/

.coverage

.pytest_cache

*.proto

frontend_tests/node_modules
frontend_tests/node_modules/

staticfiles
staticfiles/
mediafiles
mediafiles/

production_volumes
production_volumes/

env_variables.yaml
frontend_tests/unit/templates/


/scripts/logs/
