{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/accounts/employee_option.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>
{% endblock head %}

{% block content %}

<div id="vue-app">
    <nav style aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'units_manage' %}"
                                        class="breadcrumb-link">{{ user.user_org }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'employees_manage' %}"
                class="breadcrumb-link">Pracownicy</a></li>
        </ol>
        <h2 class="breadcrumb-title">[[ employee_info.first_name ]] [[ employee_info.last_name ]] </h2>
        <hr class="breadcrumb" style="opacity: 1">
    </nav>
    <form id="schedule_form" v-on:submit.prevent="post_emp_data">
        <div class="emp_option_big_box">
            <div>
                <div class="emp_option_small_box"><h5>Imię</h5><input type="text" class="w-50 form-control" v-model="employee_info.first_name" required></div>
                <div class="emp_option_small_box"><h5>Nazwisko</h5><input type="text" class="w-50 form-control" v-model="employee_info.last_name" required></div>
                <div class="emp_option_small_box"><h5>Nazwa Użytkownika</h5><input type="text" class="w-50 form-control" v-model="employee_info.username" diasabled readonly></div>
            </div>
            <div>
                <div class="emp_option_small_box"><h5>ID</h5><input type="text" class="w-50 form-control" v-model="employee_info.id" diasabled readonly></div>
                <div class="emp_option_small_box"><h5>E-mail</h5><input type="text" class="w-50 form-control" v-model="employee_info.email" required></div>
                <div class="emp_option_small_box">
                    <h5>Etat</h5>
                    <select id="jobtimeSelect" class="w-50 form-select" v-model="selected_jobtime">
                        <option :value="null" disabled hidden>[[ employee_info.job_time ]]</option>
                        <option v-for="jobtime in jobtime_list" :value="jobtime">
                            <div class="fw-bold">[[ jobtime.jobtime_fraction ]]</div>
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <input type="submit" value="Zapisz zmiany" class="btn btn-outline-success" style="margin-bottom: 50px; margin-left: 10px">
    </form>

    <div class="emp_option_wide_box">
        <div>
            <h5>Jednostki</h5>
            <div class="list-group">
                <div v-for="unit in employee_info.user_unit" :key="unit.id" class="list-group-item list-group-item-action position-static">
                    <div class="emp_option_table_box">
                        <div>[[ unit.name ]]</div>
                        <button v-on:click="remove_unit_for_employee(unit.id, unit.name)" 
                                class="material-icons" style="border: none; background-color: rgba(0, 0, 255, 0);">delete_outline</button>
                    </div>
                </div>  
            </div> 
            <button data-bs-target="#pickUnitForEmployee" data-bs-toggle="modal" data-bs-dismiss="modal" 
                    class="btn btn-outline-primary" style="margin-top: 15px; margin-bottom: 15px">Dodaj</button>                 
        </div>

        <div>
            <h5>Działy</h5>
            <div class="list-group">
                <div v-for="workplace in employee_info.user_workplace" :key="workplace.id" class="list-group-item list-group-item-action position-static">
                    <div class="emp_option_table_box">
                        <div>[[ workplace.name ]]</div>
                        <div>[[ get_unit_name(workplace) ]]</div>
                        <button v-on:click="remove_workplace_for_employee(workplace.id, workplace.name)" 
                                class="material-icons" style="border: none; background-color: rgba(0, 0, 255, 0);">delete_outline</button>
                    </div>
                </div>
            </div>
            <button data-bs-target="#pickWorkplaceForEmployee" data-bs-toggle="modal" data-bs-dismiss="modal" 
                    class="btn btn-outline-primary" style="margin-top: 15px; margin-bottom: 15px">Dodaj</button> 
        </div>
        
        <div>
            <h5>Preferencje zmianowe</h5>
            <div class="list-group">
                <div v-for="preference in preferences_list" :key="preference.id" class="list-group-item list-group-item-action position-static">
                    <div class="emp_option_table_box">
                        <div>[[ return_unit_name_for_workplace(preference.shift_type_obj.workplace) ]] - [[ return_workplace_name(preference.shift_type_obj.workplace) ]] - [[ preference.shift_type_obj.name ]]: [[ preference.shift_type_obj.hour_start.toString().slice(0, 5) ]] - [[ preference.shift_type_obj.hour_end.toString().slice(0, 5) ]]: [[ st_list_to_text(st_numbers_to_list(preference.active_days)) ]]</div>
                        <button v-on:click="remove_preference(preference.id)" class="material-icons" 
                                style="border: none; background-color: rgba(0, 0, 255, 0);">delete_outline</button>
                    </div>
                </div>
            </div>
            <button data-bs-target="#addPreferenceModal" data-bs-toggle="modal" data-bs-dismiss="modal" 
                    class="btn btn-outline-primary" style="margin-top: 15px; margin-bottom: 15px">Dodaj</button> 
        </div>

        {% comment %} [[ preference.shift_type_obj.hour_start.toString().slice(0, 5) ]] {% endcomment %}

        <div>
            <h5>Przypisania</h5>
            <div class="list-group">
                <div v-for="assignment in assignment_list" :key="assignment.id">
                    <div v-if="assignment.negative_flag == false" class="list-group-item list-group-item-action position-static">
                        <div class="emp_option_table_box">
                            <div>[[ return_unit_name_for_workplace(assignment.shift_type_obj.workplace) ]] - [[ return_workplace_name(assignment.shift_type_obj.workplace) ]] - [[ assignment.shift_type_obj.name ]]: [[ return_assigment_data(assignment) ]]</div>
                            <button v-on:click="remove_assignment(assignment.id)" class="material-icons" 
                                    style="border: none; background-color: rgba(0, 0, 255, 0);">delete_outline</button>
                        </div>
                    </div>
                </div>
            </div>
            <button data-bs-target="#addAssignmentModal" data-bs-toggle="modal" data-bs-dismiss="modal" 
                    class="btn btn-outline-primary" style="margin-top: 15px; margin-bottom: 15px">Dodaj</button> 
        </div>

        <div>
            <h5>Wykluczenia</h5>
            <div class="list-group">
                <div v-for="assignment in assignment_list" :key="assignment.id">
                    <div v-if="assignment.negative_flag == true" class="list-group-item list-group-item-action position-static">
                        <div class="emp_option_table_box">
                            <div>[[ return_unit_name_for_workplace(assignment.shift_type_obj.workplace) ]] - [[ return_workplace_name(assignment.shift_type_obj.workplace) ]] - [[ assignment.shift_type_obj.name ]]: [[ return_assigment_data(assignment) ]]</div>
                            <button v-on:click="remove_assignment(assignment.id)" class="material-icons" 
                                    style="border: none; background-color: rgba(0, 0, 255, 0);">delete_outline</button>
                        </div>
                    </div>
                </div>
            </div>
            <button data-bs-target="#addBadAssignmentModal" data-bs-toggle="modal" data-bs-dismiss="modal" 
                    class="btn btn-outline-primary" style="margin-top: 15px; margin-bottom: 15px">Dodaj</button> 
        </div>

    </div>

    <div class="modal fade" id="pickUnitForEmployee" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-header">
                        <h5 class="modal-title">Wybierz jednostkę</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                    <div class="list-group">
                        <div v-for="unit in unit_list" v-on:click="add_unit_for_employee(unit.id, unit.name)" 
                             class="list-group-item list-group-item-action" style="cursor: pointer">
                            <div class="fw-bold"> [[ unit.name ]] </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pickWorkplaceForEmployee" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                      <h5 class="modal-title">Wybierz jednostkę</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select id="unitSelect" class="form-select" v-model="selected_unit" v-on:change="workplace_list_fetch">
                        <option :value="null" disabled hidden>Wybierz z listy</option>
                        <option v-for="unit in employee_info.user_unit" :value="unit.id">
                            [[ unit.name ]]
                        </option>
                    </select>

                    <div class="list-group" style="margin-top: 15px">
                        <div v-for="workplace in workplaces_list" v-on:click="add_workplace_for_employee(workplace.id, workplace.name)" 
                             class="list-group-item list-group-item-action" style="cursor: pointer">
                            <div class="fw-bold">[[ workplace.name ]]</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addPreferenceModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable" style="max-width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                      <h5 class="modal-title">Tworzenie preferencji</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title" style="margin-bottom: 15px">Wybierz dział</h5>

                    <select id="workplaceSelect" class="form-select" v-model="selected_workplace" v-on:change="shiftType_list_fetch">
                        <option :value="null" disabled hidden>Wybierz z listy</option>
                        <option v-for="workplace of employee_info.user_workplace" :value="workplace.id">
                            <div class="fw-bold">[[ workplace.name ]]: [[  get_unit_name(workplace) ]]</div>
                        </option>
                    </select>

                    <div class="list-group list-group-horizontal" style="margin-top: 15px">
                        <div v-for="day of daylist" class="list-group-item list-group-item-action ">
                            <div class="emp_option_list_box">
                                <input type="checkbox" v-model="day.val">                        
                                <div class="fw-bold"> [[ day.day ]] </div>
                            </div>
                        </div>
                    </div>


                    <div class="list-group" style="margin-top: 15px">
                        <div v-for="shiftType in shiftType_list" v-on:click="add_preference(shiftType.id)" 
                             class="list-group-item list-group-item-action" style="cursor: pointer">
                            <div class="fw-bold"> [[ shiftType.name ]]: [[ shiftType.hour_start.toString().slice(0, 5) ]] - [[ shiftType.hour_end.toString().slice(0, 5) ]] </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addAssignmentModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                      <h5 class="modal-title">Tworzenie przypisań</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <h5 class="modal-title" style="margin-bottom: 15px">Wybierz dział</h5>

                        <select id="workplaceSelect" class="form-select" v-model="selected_workplace" v-on:change="shiftType_list_fetch" style="margin-bottom: 10px">
                            <option :value="null" disabled hidden>Wybierz z listy</option>
                            <option v-for="workplace of employee_info.user_workplace" :value="workplace.id">
                                <div class="fw-bold">[[ workplace.name ]]: [[  get_unit_name(workplace) ]]</div>
                            </option>
                        </select>

                        <div class="form-floating" style="margin-bottom: 10px">
                            <input type="date" class="form-control" v-model="assign_add_start" id="inputDateStart" placeholder="Data rozpoczęcia przypisania">
                            <label for="inputDateStart">Data rozpoczęcia przypisania</label>
                        </div>

                        <div class="form-floating" style="margin-bottom: 10px">
                            <input type="date" class="form-control" v-model="assign_add_end" id="inputDateEnd" placeholder="Data końca przypisania">
                            <label for="inputDateEnd">Data końca przypisania</label>
                        </div>

                        <div class="list-group" style="margin-top: 15px">
                            <div v-for="shiftType in shiftType_list" v-on:click="add_assignment(shiftType.id, false)" 
                                 class="list-group-item list-group-item-action" style="cursor: pointer">
                                <div class="fw-bold"> [[ shiftType.name ]]: [[ shiftType.hour_start.toString().slice(0, 5) ]] - [[ shiftType.hour_end.toString().slice(0, 5) ]] </div>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addBadAssignmentModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                      <h5 class="modal-title">Tworzenie wykluczeń</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <h5 class="modal-title" style="margin-bottom: 15px">Wybierz dział</h5>

                        <select id="workplaceSelect" class="form-select" v-model="selected_workplace" v-on:change="shiftType_list_fetch" style="margin-bottom: 10px">
                            <option :value="null" disabled hidden>Wybierz z listy</option>
                            <option v-for="workplace of employee_info.user_workplace" :value="workplace.id">
                                <div class="fw-bold">[[ workplace.name ]]: [[  get_unit_name(workplace) ]]</div>
                            </option>
                        </select>

                        <div class="form-floating" style="margin-bottom: 10px">
                            <input type="date" class="form-control" v-model="assign_add_start" id="inputDateStart" placeholder="Data rozpoczęcia przypisania">
                            <label for="inputDateStart">Data rozpoczęcia przypisania</label>
                        </div>

                        <div class="form-floating" style="margin-bottom: 10px">
                            <input type="date" class="form-control" v-model="assign_add_end" id="inputDateEnd" placeholder="Data końca przypisania">
                            <label for="inputDateEnd">Data końca przypisania</label>
                        </div>

                        <div class="list-group" style="margin-top: 15px">
                            <div v-for="shiftType in shiftType_list" v-on:click="add_assignment(shiftType.id, true)" 
                                 class="list-group-item list-group-item-action" style="cursor: pointer">
                                <div class="fw-bold"> [[ shiftType.name ]]: [[ shiftType.hour_start.toString().slice(0, 5) ]] - [[ shiftType.hour_end.toString().slice(0, 5) ]] </div>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
    

</div>

{% endblock content %}

{% block vue-content %}
    <script type="module">  
        const {createApp} = Vue
        var vue_app = createApp({
            delimiters: ["[[", "]]"],
            data() {
                return {
                    employee_id: {{ pk }},
                    email: '',
                    username: '',
                    first_name: '',
                    last_name: '',
                    job_time: 0,
                    preference_active_days: '',

                    employee_values: null,
                    unit_list: null,
                    workplaces_list: null,
                    shiftType_list: null,
                    selected_unit: null,
                    selected_workplace: null,
                    preferences_list: null,
                    assignment_list: null,
                    shift_list: null,

                    response: null,
                    response_emp_data: null,
                    response_unit_data: null,
                    response_workplace_data: null,
                    response_shiftType_data: null,
                    response_pref_data: null,
                    response_assign_data: null,

                    base_url: '',
                    units_url: '',
                    emp_preferences_url: '',
                    emp_assignment_url: '',

                    daylist: '',
                    daylist_assign: '',

                    assign_add_start: null,
                    assign_add_end: null,
                    selected_jobtime: null,

                    jobtime_list: [
                        {jobtime_fraction: '1/4', jobtime_hours: 40, jobtime_name: 'Jedna czwarta etatu'},
                        {jobtime_fraction: '1/2', jobtime_hours: 80, jobtime_name: 'Pół etatu'},
                        {jobtime_fraction: '3/4', jobtime_hours: 120, jobtime_name: 'Trzy czwarte etatu'},
                        {jobtime_fraction: '1', jobtime_hours: 160, jobtime_name: 'Cały etat'},
                    ],

                    // API COUNTER: 8
                }
            },
            computed: {
                workplace_url: {
                    get() {
                        return '{% url 'workplace-list' 123456789 %}'.replace(/123456789/, this.selected_unit);
                    }
                },
                shiftType_url: {
                    get() {
                        return '{% url 'shiftType-list' 123456789 %}'.replace(/123456789/, this.selected_workplace);
                    }
                },
                employee_info() {
                    if (this.employee_values != null){
                        return this.employee_values
                    }
                    else{
                        return { email: null, first_name: null, id: null, job_time: null, last_name: null, username: null, user_unit: null, user_workplace: null }
                    }
                    
                },
            },
            methods: {
                return_workplace_name(workplace_id){
                    if (this.employee_info.user_workplace != null){
                        for(let workplace of this.employee_info.user_workplace){
                            if (workplace.id == workplace_id){
                                return workplace.name
                            }
                        }
                    }
                },
                return_unit_name_for_workplace(workplace_id){
                    if (this.employee_info.user_workplace != null){
                        for(let workplace of this.employee_info.user_workplace){
                            if (workplace.id == workplace_id){
                                for (let unit of this.unit_list){
                                    if (unit.id == workplace.workplace_unit){
                                        return unit.name
                                    }
                                }
                            }
                        }
                    }
                },
                return_jobtime_obj(hours){
                    for (let jobtime_obj of this.jobtime_list){
                        if (hours == jobtime_obj.jobtime_hours){
                            return jobtime_obj
                        }
                    }
                },
                return_assigment_data(assignment){
                    if (assignment.end == null){
                        return 'bezterminowo'
                    }else{
                        return assignment.start + ' - ' + assignment.end
                    }
                },
                return_shifttype_data(shifttype){
                    return shifttype.name + ': ' + shifttype.hour_start.toString().slice(0, 5) + ' - ' + shifttype.hour_end.toString().slice(0, 5) 
                },
                get_unit_name(workplace) {
                    if (this.employee_info != null){
                        return this.employee_info.user_unit.find((Object) => Object.id == workplace.workplace_unit).name
                    }
                    
                },
                fetch_data() {
                    this.base_url = '{% url 'employee-detail' 123456789 %}'.replace(/123456789/, this.employee_id);
                    axios
                        .get(this.base_url)
                        .then(response_emp_data => (this.employee_values = response_emp_data.data))
                },
                post_emp_data(){
                    swal({
                        title: "Czy chcesz zatwierdzić zmiany?",
                        icon: "info",
                        buttons: true,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                if (this.selected_jobtime == null){
                                    this.selected_jobtime = this.return_jobtime_obj(this.employee_info.job_time)
                                }
                                axios
                                    .put(this.base_url,
                                        {
                                            email: this.employee_info.email,
                                            username: this.employee_info.username,
                                            first_name: this.employee_info.first_name,
                                            last_name: this.employee_info.last_name,
                                            job_time: this.selected_jobtime.jobtime_fraction,
                                        }
                                    )
                                    .then(() => window.location.href = '{% url 'employees_manage' %}')
                                    .catch(error => {
                                            this.response = error.response.data
                                            }
                                    )
                            }
                        });
                },
                fetch_preferences_data(){
                    this.emp_preferences_url = '{% url 'preference-list' %}' + '?employee=' + this.employee_id
                    axios
                        .get(this.emp_preferences_url)
                        .then(response_pref_data => (this.preferences_list = response_pref_data.data))
                        .then(() => console.log(this.preferences_list))
                    this.daylist = this.st_numbers_to_list('0000000')
                },
                fetch_assignment_data(){
                    this.emp_assignment_url = '{% url 'assignment-list' %}' + '?employee=' + this.employee_id
                    axios
                        .get(this.emp_assignment_url)
                        .then(response_assign_data => (this.assignment_list = response_assign_data.data))
                    this.daylist_assign = this.st_numbers_to_list('0000000')
                },
                fetch_unit_data(){
                    this.units_url = '{% url 'unit-list' %}';
                    axios
                        .get(this.units_url)
                        .then(response_unit_data => (this.unit_list = response_unit_data.data));
                },
                workplace_list_filter(){
                    if (this.workplaces_list != null){
                        for(let workplace of this.workplaces_list){
                            let flag = true;
                            for(let workplace2 of this.employee_info.user_workplace){
                                if (workplace.id == workplace2.id){
                                    flag = false;
                                }
                            }
                            if (flag == false) {
                                this.workplaces_list.splice(this.workplaces_list.indexOf(workplace), 1);
                            }
                        }
                    }
                },
                workplace_list_fetch() {
                    if (this.selected_unit != null){
                        axios
                            .get(this.workplace_url)
                            .then(response_workplace_data => (this.workplaces_list = response_workplace_data.data))
                    }
                    
                },
                shiftType_list_fetch() {
                    if (this.selected_workplace != null){
                        axios
                            .get(this.shiftType_url)
                            .then(response_shiftType_data => (this.shiftType_list = response_shiftType_data.data))
                    }
                    
                },
                remove_preference(pref_id){
                    swal({
                        title: "Czy na pewno chcesz usunąć preferencję",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                let remove_preference_url = '{% url 'preference-list' %}' + pref_id;
                                axios
                                .delete(remove_preference_url,
                                    {
                                        id: pref_id,
                                    }
                                ).then(() => this.fetch_preferences_data());
                            }
                        });
                },
                remove_assignment(assign_id){
                    swal({
                        title: "Czy na pewno chcesz usunąć przypisanie",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                let remove_assignment_url = '{% url 'assignment-list' %}' + assign_id;
                                axios
                                .delete(remove_assignment_url,
                                    {
                                        id: assign_id,
                                    }
                                ).then(() => this.fetch_assignment_data());
                            }
                        });
                },
                remove_unit_for_employee(unit_id, unit_name) {
                    swal({
                        title: "Czy na pewno chcesz usunąć jednostkę " + unit_name,
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                let remove_unit_url = '{% url 'employee_to_unit_api' 123456789 %}'.replace(/123456789/, unit_id);
                                axios
                                .post(remove_unit_url,
                                    {
                                        pk: this.employee_id,
                                        action: 'delete'
                                    }
                                ).then(() => this.fetch_data());
                                
                            }
                        });
                },
                add_unit_for_employee(unit_id, unit_name) {
                    swal({
                        title: "Potwierdź dodanie jednostki " + unit_name,
                        icon: "info",
                        buttons: true,
                        dangerMode: false,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                let remove_unit_url = '{% url 'employee_to_unit_api' 123456789 %}'.replace(/123456789/, unit_id);
                                axios
                                .post(remove_unit_url,
                                    {
                                        pk: this.employee_id,
                                        action: 'add'
                                    }
                                ).then(() => this.fetch_data());
                                
                            }
                        });
                },
                remove_workplace_for_employee(workplace_id, workplace_name) {
                    swal({
                        title: "Potwierdź dodanie jednostki " + workplace_name,
                        icon: "info",
                        buttons: true,
                        dangerMode: false,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                let remove_workplace_url = '{% url 'employee_to_workplace_api' 123456789 %}'.replace(/123456789/, workplace_id);
                                axios
                                .post(remove_workplace_url,
                                    {
                                        pk: this.employee_id,
                                        action: 'delete'
                                    }
                                ).then(() => this.fetch_data());
                            }
                        });
                },
                add_workplace_for_employee(workplace_id, workplace_name) {
                    swal({
                        title: "Potwierdź dodanie działu " + workplace_name,
                        icon: "info",
                        buttons: true,
                        dangerMode: false,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                let remove_workplace_url = '{% url 'employee_to_workplace_api' 123456789 %}'.replace(/123456789/, workplace_id);
                                axios
                                .post(remove_workplace_url,
                                    {
                                        pk: this.employee_id,
                                        action: 'add'
                                    }
                                ).then(() => this.fetch_data());
                            }
                        });
                },
                add_preference(shifttype){
                    swal({
                        title: "Potwierdź dodanie preferencji",
                        icon: "info",
                        buttons: true,
                        dangerMode: false,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                let add_preference_url = '{% url 'preference-list' %}'
                                axios
                                .post(add_preference_url, 
                                    {
                                        shift_type: shifttype,
                                        employee: this.employee_id,
                                        active_days: this.st_list_to_numbers(this.daylist).toString(),
                                    }
                                ).then(() => this.fetch_preferences_data());
                                
                            }
                        });
                },
                add_assignment(shifttype, flag){
                    swal({
                        title: "Potwierdź dodanie przypisania",
                        icon: "info",
                        buttons: true,
                        dangerMode: false,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                let add_assignment_url = '{% url 'assignment-list' %}'
                                axios
                                .post(add_assignment_url, 
                                    {
                                        shift_type: shifttype,
                                        employee: this.employee_id,
                                        start: this.assign_add_start,
                                        end: this.assign_add_end,
                                        negative_flag: flag,
                                    }
                                ).then(() => this.fetch_assignment_data());
                                
                            }
                        });
                },
                st_numbers_to_list(numbers_str){
                    let day_list = []
                    let day_blueprint = ['pn', 'wt', 'śr', 'cz', 'pt', 'sb', 'nd']
                    let day_blueprint_long = ['poniedziałek', 'wtorek', 'środa', 'czwartek', 'piątek', 'sobota', 'niedziela']
                    for (var i = 0; i < 7; i++){
                        if (numbers_str.charAt(i) == '1') {
                            day_list.push({
                                day: day_blueprint[i],
                                day_long: day_blueprint_long[i],
                                val: true,
                            })
                        } else {
                            day_list.push({
                                day: day_blueprint[i],
                                day_long: day_blueprint_long[i],
                                val: false,
                            })
                        }
                    }
                    return(day_list)
                },
                st_list_to_numbers(day_list){
                    let day_str = ''
                    for (let day of day_list){
                        if (day.val == 1) {
                            day_str += 1
                        } else {
                            day_str += 0
                        }
                    }
                    return day_str
                },
                st_list_to_text(day_list){
                    let day_str = ''
                    for (let day of day_list){
                        if (day.val == true) {
                            day_str += day.day
                            day_str += ' '
                        }
                    }
                    return day_str
                },
            },
            mounted() {
                this.fetch_data()
                this.fetch_unit_data()
                this.workplace_list_fetch()
                this.fetch_preferences_data()
                this.fetch_assignment_data()
            }
        }).mount('#vue-app');
    </script>
{% endblock vue-content %}