{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/accounts/employee_option.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>
{% endblock head %}

{% block content %}

<div id="vue-app">
    <nav style aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'units_manage' %}"
                                        class="breadcrumb-link">{{ user.user_org }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'employees_manage' %}"
                class="breadcrumb-link">Zarządzanie pracownikami</a></li>
            <li class="breadcrumb-item current-subpage">[[ employee_info.first_name ]] [[ employee_info.last_name ]]</li>
        </ol>
        <h2 class="breadcrumb-title">Zarządzanie pracownikiem </h2>
        <hr class="breadcrumb" style="opacity: 1">
    </nav>

    <div class="emp_option_big_box">
        <div>
            <div class="emp_option_small_box"><h5>Imię</h5><input type="text" class="w-50 form-control" v-model="employee_info.first_name"></div>
            <div class="emp_option_small_box"><h5>Nazwisko</h5><input type="text" class="w-50 form-control" v-model="employee_info.last_name"></div>
            <div class="emp_option_small_box"><h5>Nazwa Użytkownika</h5><input type="text" class="w-50 form-control" v-model="employee_info.username" diasabled readonly></div>
        </div>
        <div>
            <div class="emp_option_small_box"><h5>ID</h5><input type="text" class="w-50 form-control" v-model="employee_info.id" diasabled readonly></div>
            <div class="emp_option_small_box"><h5>E-mail</h5><input type="text" class="w-50 form-control" v-model="employee_info.email"></div>
            <div class="emp_option_small_box"><h5>Etat</h5><input type="text" class="w-50 form-control" v-model="employee_info.job_time"></div>
        </div>
    </div>

    <div class="emp_option_wide_box">

        <div>
            <h5>Jednostki</h5>
            <div class="list-group">
                <div v-for="unit in employee_info.user_unit" :key="unit.id" class="list-group-item list-group-item-action">
                    <div class="emp_option_table_box">
                        <div>[[ unit.name ]]</div>
                        <button v-on:click="remove_unit_for_employee(unit.id, unit.name)" class="material-icons" style="border: none; background-color: rgba(0, 0, 255, 0);">delete_outline</button>
                    </div>
                </div>  
            </div> 
            <button class="btn btn-outline-primary" style="margin-top: 15px;">Dodaj</button>                 
        </div>

        <div>
            <h5>Działy</h5>
            <div class="list-group">
                <div v-for="workplace in employee_info.user_workplace" :key="workplace.id" class="list-group-item list-group-item-action">
                    <div class="emp_option_table_box">
                        <div>[[ workplace.name ]]</div>
                        <button v-on:click="remove_workplace_for_employee(workplace.id, workplace.name)" class="material-icons" style="border: none; background-color: rgba(0, 0, 255, 0);">delete_outline</button>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-primary" style="margin-top: 15px;">Dodaj</button>
        </div>
        
        <div>
            <h5>Preferencje zmianowe</h5>
            <div class="list-group">
                <div class="list-group-item list-group-item-action">
                    <div class="emp_option_table_box">
                        <div>siemanko</div>
                        <button v-on:click="remove_workplace_for_employee()" class="material-icons" style="border: none; background-color: rgba(0, 0, 255, 0);">delete_outline</button>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-primary" style="margin-top: 15px;">Dodaj</button>
        </div>
    </div>
</div>

{% endblock content %}

{% block vue-content %}
    <script type="module">  
        const {createApp} = Vue
        var vue_app = createApp({
            delimiters: ["[[", "]]"],
            data() {
                return {
                    employee_id: {{ pk }},
                    email: '',
                    username: '',
                    first_name: '',
                    last_name: '',
                    job_time: 0,

                    employee_values: null,
                    response_emp_data: null,
                    response_unit_data: null,
                    response_workplace_data: null,
                    base_url: '',
                    units_url: '',
                    workplaces_url: '',
                }
            },
            computed: {
                employee_info() {
                    if (this.employee_values != null){
                        console.log(this.employee_values);
                        return this.employee_values
                    }
                    else{
                        return { email: null, first_name: null, id: null, job_time: null, last_name: null, username: null, user_unit: null, user_workplace: null }
                    }
                    
                },
            },
            methods: {
                fetch_data() {
                    this.base_url = '{% url 'employee-detail' 123456789 %}'.replace(/123456789/, this.employee_id)
                    axios
                        .get(this.base_url)
                        .then(response_emp_data => (this.employee_values = response_emp_data.data))
                },
                remove_unit_for_employee(unit_id, unit_name) {
                    swal({
                        title: "Czy na pewno chcesz usunąć jednostkę " + unit_name,
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                let remove_unit_url = '{% url 'employee_to_unit_api' 123456789 %}'.replace(/123456789/, unit_id);
                                axios
                                .post(remove_unit_url,
                                    {
                                        pk: this.employee_id,
                                        action: 'delete'
                                    }
                                )
                            }
                        });

                },
                add_unit_for_employee(unit_id, unit_name) {
                    swal({
                        title: "Czy na pewno chcesz usunąć jednostkę " + unit_name,
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                let remove_unit_url = '{% url 'employee_to_unit_api' 123456789 %}'.replace(/123456789/, unit_id);
                                axios
                                .post(remove_unit_url,
                                    {
                                        pk: this.employee_id,
                                        action: 'add'
                                    }
                                )
                            }
                        });

                },
                remove_workplace_for_employee(workplace_id, workplace_name) {
                    swal({
                        title: "Potwierdź dodanie jednostki " + workplace_name,
                        icon: "info",
                        buttons: true,
                        dangerMode: false,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                let remove_workplace_url = '{% url 'employee_to_workplace_api' 123456789 %}'.replace(/123456789/, workplace_id);
                                axios
                                .post(remove_workplace_url,
                                    {
                                        pk: this.employee_id,
                                        action: 'delete'
                                    }
                                )
                            }
                        });

                },
                add_workplace_for_employee(workplace_id, workplace_name) {
                    swal({
                        title: "Potwierdź dodanie działu " + workplace_name,
                        icon: "info",
                        buttons: true,
                        dangerMode: false,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                let remove_workplace_url = '{% url 'employee_to_workplace_api' 123456789 %}'.replace(/123456789/, workplace_id);
                                axios
                                .post(remove_workplace_url,
                                    {
                                        pk: this.employee_id,
                                        action: 'add'
                                    }
                                )
                            }
                        });

                },
            },
            mounted() {
                this.fetch_data()
            }
        }).mount('#vue-app');
    </script>
{% endblock vue-content %}