{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

    <img src="{% static 'img/Logo-Main-Big2.svg' %}" alt="Main Logo" class="large--logo--center">
    <div class="row">
        <div class="col">
            <div class="text-center">
                {% if user.is_authenticated %}
                    <h3 class="mb-3 font-weight-normal text-center">Logged in</h3>
                    <div class="mt-4">
                        <a class="btn btn-lg btn-primary" href="{% url 'home' %}" role="button"> Home page </a>
                    </div>
                {% else %}
                    <form method="post" class="form--input--style">
                        {% csrf_token %}
                        <h3 class="mb-3 font-weight-normal">Please log in:</h3>
                        {% render_field form.username class+="form-control mb-1" placeholder="Username" %}
                        {% render_field form.password class+="form-control mb-1" placeholder="Password" %}
                        <div class="mt-4">
                            <input type="submit" class="btn btn-lg btn-primary btn-block">
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
