{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

    <img src="{% static 'img/Logo-Main-Big2.svg' %}" alt="Main Logo" class="large--logo--center">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h3>Link do zresetowania hasła został wysłany na twój adres email</h3>
                <a class="btn btn-lg btn-primary" href="{% url 'units_manage' %}" role="button"> Strona główna </a>
            </div>
        </div>
    </div>

{% endblock content %}