
{% extends 'base.html' %}

{% load widget_tweaks%}
{% load static %}

{% block content %}
<img src="{% static 'img/Logo-Main-Big2.svg' %}" alt="Main Logo" class="large--logo--center">

    <div class="text-center">
        <form method="post" class="form--input--style">
            {% csrf_token %}
            <h3 class="mb-3 font-weight-normal">Change password:</h3>

            {% render_field form.old_password class+="form-control mb-4" placeholder="Old Password" %}
            {% render_field form.new_password1 class+="form-control mb-1" placeholder="New Password" %}
            {% render_field form.new_password2 class+="form-control mb-1" placeholder="Repeat New Password" %}

            <div class="mt-4">
                <input type="submit" class="btn btn-lg btn-primary btn-block">
            </div>

        </form>
    </div>

{% endblock content %}
