{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

    <img src="{% static 'img/Logo-Main-Big2.svg' %}" alt="Main Logo" class="large--logo--center">
    <div class="row">
        <div class="col">
            <div class="text-center">

                <form method="post" class="form--input--style">
                    {% csrf_token %}
                    <h3 class="mb-3 font-weight-normal">Enter email to send a new password form:</h3>
                    {% render_field form.email class+="form-control mb-4" placeholder="E-mail" %}
                    <!-- template variables can be used as attribute values -->
                    <div class="mt-4">
                        <input type="submit" class="btn btn-lg btn-primary btn-block">
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock content %}
