{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block navsidebar %}

{% endblock navsidebar %}
{% block vue-nav-app %}

{% endblock vue-nav-app %}
{% block no-nav-content %}

    <img src="{% static 'img/Logo-Main-Big2.svg' %}" alt="Main Logo" class="large--logo--center">

    <div class="text-center">

        <h3 class="mb-3 font-weight-normal">Hasło zostało zmienione</h3>

        <a href="{% url 'redirect_url' %}" class="btn btn-lg btn-primary btn-block">Strona główna</a>

    </div>

{% endblock no-nav-content %}