.material-icons {
    font-size:20px;
}

.table > tbody > tr > td {
    vertical-align: middle;
    padding: 8px;
}

hr {
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.50;
}