hr.breadcrumb {
    height: 5px;
    border: 1px #165DFF;
    background-color: #000000;
    border-radius: 5px;
    width: 95%;
    /*color: #165DFF;*/
}

.table > tbody > tr > td {
    vertical-align: middle;
    padding: 8px;
}

.styled-table {
    border-radius: 50px 50px;
    border-collapse: collapse;
    margin: 20px 0; /*space top and bottom*/
    font-size: 0.9em;
    min-width: 300px; /*whole table*/
    max-width: 95%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);

    /*overflow: hidden;*/
}
.styled-table thead tr{
    background-color: #165DFF;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    text-align: center;
    vertical-align: middle;
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: thin solid #DDDDDD;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #F3F3F3;
    color: #165DFF;
    font-weight: bold;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #165DFF;
}

.table-buttons{

}