{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{#START/added calendar#}
{% block head %}
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="application/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>
{% endblock head %}

{% block content %}
    <div id="vue-app" v-cloak>

        <div class="modal fade" id="createAbsenceModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                          <h5 class="modal-title">Dodaj nieobecność</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                        
                    <form id="schedule_form" v-on:submit.prevent="create_absence">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-floating" style="margin-bottom: 10px">
                                <input type="date" class="form-control" v-model="start" id="inputDateStart" placeholder="Początek nieobecności" :min="date_bottom_limit" :max="date_top_limit" required>
                                <label for="inputDateStart">Początek nieobecności</label>
                            </div>
                            <div class="form-floating" style="margin-bottom: 10px">
                                <input type="date" class="form-control" v-model="end" id="inputDateEnd" placeholder="Koniec nieobecności" :max="date_top_limit" :min="start" required>
                                <label for="inputDateEnd">Koniec nieobecności</label>
                            </div>

                            <div class="form-floating" style="margin-bottom: 10px">
                                <input type="number" class="form-control" v-model="hours_number" id="inputHours" placeholder="Koniec nieobecności" required>
                                <label for="inputHours">Liczba godzin odejmowanych od etatu</label>
                            </div>
                            
                            <select class="form-select" v-model="type" style="margin-bottom: 10px" required>
                                <option value="" disabled selected hidden>Wybierz typ nieobecności</option>
                                {% for absence in absence_type %}
                                    <option value="{{ absence.0 }}">{{ absence.1 }}</option>
                                {% endfor %}
                            </select>
                            <select class="form-select" v-model="employee_id" style="margin-bottom: 10px">
                                <option :value="null" disabled hidden>Wybierz pracownika</option>
                                <option v-for="employee in employee_list" :value="employee.id">
                                    [[employee.first_name]] [[employee.last_name]]
                                </option>
                            </select>

                            <label v-for="(field, index) in response" style="color: #FF0000; margin-top: 20px">
                                [[ field.join('') ]]
                            </label>
                        </div>
                        
                        <div class="modal-footer">
                            <input type="submit" value="Zapisz" class="btn btn-outline-success" style="align: right">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        


        <div class="row d-flex justify-content-between align-items-center">
            <div class="col d-flex justify-content-start">
                <h6 class="content-title">Lista nieobecności</h6>
            </div>

            <div class="col d-flex justify-content-end">
                <button data-bs-target="#createAbsenceModal" data-bs-toggle="modal" data-bs-dismiss="modal" 
                        class="btn btn-outline-primary" style="margin-top: 15px; margin-bottom: 15px">Dodaj nieobecność</button> 
            </div>
        </div>

        <data-table 
        v-on:rows-sent-to-delete="datatable_delete_absences"
        :fields_options="[
        {title: 'Początek', editable: false, property_name: 'start', type: 'date', allow_filter: true, default_filter: 'desc'},
        {title: 'Koniec', editable: false, property_name: 'end', type: 'date',  allow_filter: true},
        {title: 'Login', editable: false, property_name: 'employee_username', type: 'text', allow_filter: true, highlighted: true},
        {title: 'Imię', editable: false, property_name: 'employee_first_name', type: 'text', allow_filter: true},
        {title: 'Nazwisko', editable: false, property_name: 'employee_last_name', type: 'text', allow_filter: true},
        {title: 'Typ', editable: false, property_name: 'type', type: 'text', allow_filter: true},
        {title: 'Liczba godzin', editable: false, property_name: 'hours_number', type: 'number', allow_filter: true},]" 
        :data_rows="absence_list"
        :options="{start_mobile_view_px: 1450, 
            editable: false, 
            allow_special_edit_mode: false,
            allow_modal_edit_on_mobile: true,
            allow_modal_edit_on_desktop: true,
            always_mobile_mode: false,
        }">
        </data-table>
    </div>
{% endblock %}

{% block vue-content %}

    <script type="module">
        import DataTable from "{% static 'js/components/DataTable.js' %}";

        const {createApp} = Vue
        createApp({
            delimiters: ["[[", "]]"],
            components: {
                DataTable
            },
            data() {
                return {
                    absence_list: null,
                    employee_list: null,
                    absence_url: '{% url 'absence-list' %}',
                    employee_url: '{% url 'employee-list' %}',
                    employee_id: null,
                    start: '',
                    end: '',
                    type: '',
                    hours_number: '',
                    date_bottom_limit: new Date(),
                    date_top_limit: new Date(),
                    response: null,
                }
            },
            methods: {
                dates_compute(){
                    let this_year = new Date().getFullYear()
                    let bottom_date = new Date()
                    let top_date = new Date()
                    bottom_date.setFullYear(this_year - 1)
                    top_date.setFullYear(this_year + 1)
                    if (bottom_date.getDate() < 10){
                        this.date_bottom_limit = bottom_date.getFullYear() + '-' + bottom_date.getMonth() + 1 + '-' + '0' + bottom_date.getDate()
                        this.date_top_limit = top_date.getFullYear() + '-' + top_date.getMonth() + 1 + '-' + '0' + top_date.getDate()
                    } else {
                        this.date_bottom_limit = bottom_date.getFullYear() + '-' + bottom_date.getMonth() + 1 + '-' + bottom_date.getDate()
                        this.date_top_limit = top_date.getFullYear() + '-' + top_date.getMonth() + 1 + '-' + top_date.getDate()
                    }
                },
                create_absence() {
                    swal({
                        title: "Potwierdź dodanie nieobecności",
                        icon: "info",
                        buttons: true,
                        dangerMode: false,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                if(this.employee_id == null){
                                    this.response = { employee: ["Nie został wybrany pracownik"] }
                                }
                                if(this.type == null){
                                    this.response = { employee: ["Nie został wybrany typ nieobecności"] }
                                }
                                axios
                                .post(this.absence_url,
                                    {
                                        start: this.start,
                                        end: this.end,
                                        employee: this.employee_id,
                                        type: this.type,
                                        hours_number: this.hours_number
                                    }
                                )
                                .then(response => {
                                        this.fetch_data()
                                    }
                                )
                                .catch(error => {
                                        this.response = error.response.data
                                        console.log(this.response)
                                    }
                                )
                            }
                        });  
                },
                fetch_data() {
                    axios
                        .get(this.absence_url)
                        .then(response => {
                                this.absence_list = response.data;

                            }
                        )
                        .catch(error => {
                                this.response = error.response.data
                            }
                        );
                    axios
                        .get(this.employee_url)
                        .then(response => {
                                this.employee_list = response.data;
                            }
                        )
                        .catch(error => {
                            this.response = error.response.data
                            }
                        );
                },
                datatable_delete_absences(rows){
                    this.request_delete_loop(rows).then(
                        this.fetch_data
                    )
                },
                async request_delete_loop(rows){
                    for (let i=0; i<rows.length; i++){

                        const current_url = this.absence_url + rows[i].id + '/';
                        await axios
                            .delete(current_url,
                                {
                                    id: rows[i].id
                                }
                            ).catch(
                                error => {
                                    this.response = error.response.data
                                }
                            )
                    }
                },
            },
            computed: {},
            mounted() {
                this.fetch_data()
                this.dates_compute()
            },
        }).mount('#vue-app');

    </script>
{% endblock vue-content %}