{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{#START/added calendar#}
{% block head %}
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="application/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>
{% endblock head %}

{% block content %}
    <div id="vue-app" v-cloak>

        <div class="modal fade" id="createAbsenceModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                          <h5 class="modal-title">Dodaj nieobecność</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                        
                    <form id="schedule_form" v-on:submit.prevent="create_absence">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-floating" style="margin-bottom: 10px">
                                <input type="date" class="form-control" v-model="start" id="inputDateStart" placeholder="Początek nieobecności" required>
                                <label for="inputDateStart">Początek nieobecności</label>
                            </div>
                            <div class="form-floating" style="margin-bottom: 10px">
                                <input type="date" class="form-control" v-model="end" id="inputDateEnd" placeholder="Koniec nieobecności" required>
                                <label for="inputDateEnd">Koniec nieobecności</label>
                            </div>

                            <div class="form-floating" style="margin-bottom: 10px">
                                <input type="number" class="form-control" v-model="hours_number" id="inputHours" placeholder="Koniec nieobecności" required>
                                <label for="inputHours">Liczba godzin</label>
                            </div>
                            
                            <select class="form-select" v-model="type" style="margin-bottom: 10px" required>
                                <option value="" disabled selected hidden>Wybierz typ nieobecności</option>
                                {% for absence in absence_type %}
                                    <option value="{{ absence.0 }}">{{ absence.1 }}</option>
                                {% endfor %}
                            </select>
                            <select class="form-select" v-model="employee_id" style="margin-bottom: 10px">
                                <option :value="null" disabled hidden>Wybierz pracownika</option>
                                <option v-for="employee in employee_list" :value="employee.id">
                                    [[employee.first_name]] [[employee.last_name]]
                                </option>
                            </select>
                        </div>
                        
                        <div class="modal-footer">
                            <input type="submit" value="Zapisz" class="btn btn-outline-success" style="align: right">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        


        <div class="row d-flex justify-content-between align-items-center">
            <div class="col d-flex justify-content-start">
                <h3 class="content-title">Lista nieobecności</h3>
            </div>

            <div class="col d-flex justify-content-end">
                <button data-bs-target="#createAbsenceModal" data-bs-toggle="modal" data-bs-dismiss="modal" 
                        class="btn btn-outline-success" style="margin-top: 15px; margin-bottom: 15px">Dodaj nieobecność</button> 
            </div>
        </div>
        
        <table class="table styled-table">
            <thead>
            <tr>
                <th scope="col">Początek</th>
                <th scope="col">Koniec</th>
                <th scope="col">Imie i Nazwisko</th>
                <th scope="col">Typ</th>
                <th scope="col">Liczba godzin</th>
                <th scope="col">Usuń</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(absence, i) in absence_list" :key="absence.id">
                <td>[[absence.start]]
                <td>[[absence.end]]</td>
                <td>[[absence.employee_obj.first_name]] [[absence.employee_obj.last_name]]</td>
                <td>[[absence.type]]</td>
                <td>[[absence.hours_number]]</td>
                <td>
                    <button v-on:click="delete_absence(absence.id)" type="button"
                            class="btn btn-danger table-buttons"><i class="material-icons">delete</i></button>
                </td>
            </tr>
            </tbody>
        </table>

        <data-table 
        :fields_options="[
        {title: 'Początek', editable: false, property_name: 'start', type: 'date', allow_filter: true, default_filter: 'desc'},
        {title: 'Koniec', editable: false, property_name: 'end', type: 'date',  allow_filter: true},
        {title: 'Login', editable: false, property_name: 'employee_username', type: 'text', allow_filter: true, highlighted: true},
        {title: 'Imię', editable: false, property_name: 'employee_first_name', type: 'text', allow_filter: true},
        {title: 'Nazwisko', editable: false, property_name: 'employee_last_name', type: 'text', allow_filter: true},
        {title: 'Typ', editable: false, property_name: 'type', type: 'text', allow_filter: true},
        {title: 'Liczba godzin', editable: false, property_name: 'hours_number', type: 'number', allow_filter: true},]" 
        :data_rows="absence_list"
        :options="{
            start_mobile_view_px: 1450,
            editable: false,
        }">
        </data-table>
    </div>
{% endblock %}

{% block vue-content %}

    <script type="module">
        import DataTable from "{% static 'js/components/DataTable.js' %}";

        const {createApp} = Vue
        createApp({
            delimiters: ["[[", "]]"],
            components: {
                DataTable
            },
            data() {
                return {
                    absence_list: null,
                    employee_list: null,
                    absence_url: '{% url 'absence-list' %}',
                    employee_url: '{% url 'employee-list' %}',
                    employee_id: null,
                    start: '',
                    end: '',
                    type: '',
                    hours_number: '',
                }
            },
            methods: {
                create_absence() {
                    swal({
                        title: "Potwierdź dodanie nieobecności",
                        icon: "info",
                        buttons: true,
                        dangerMode: false,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                axios
                                .post(this.absence_url,
                                    {
                                        start: this.start,
                                        end: this.end,
                                        employee: this.employee_id,
                                        type: this.type,
                                        hours_number: this.hours_number
                                    }
                                )
                                .then(response => {
                                        this.fetch_data()
                                    }
                                )
                                .catch(error => {
                                        this.response = error.response.data
                                    }
                                )
                            }
                        });  
                },
                fetch_data() {
                    axios
                        .get(this.absence_url)
                        .then(response => {
                                this.absence_list = response.data;

                            }
                        )
                        .catch(error => {
                                this.response = error.response.data
                            }
                        );
                    axios
                        .get(this.employee_url)
                        .then(response => {
                                this.employee_list = response.data;
                                console.log(this.employee_list)
                            }
                        )
                        .catch(error => {
                            this.response = error.response.data
                            }
                        );
                },
                delete_absence(absence_id) {
                    swal({
                        title: "Potwierdź usunięcie nieobecności",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                axios
                                .delete(this.absence_url + absence_id + '/',
                                    {id: absence_id}
                                )
                                .then(response => {
                                        this.fetch_data()
                                    }
                                )
                                .catch(error => {
                                        this.response = error.response.data
                                    }
                                );
                            }
                        });  
                },
            },
            computed: {},
            mounted() {
                this.fetch_data()
            },
        }).mount('#vue-app');

    </script>
{% endblock vue-content %}