{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/schedules/jobtime.css' %}">
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="application/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>
{% endblock head %}

{% block content %}
    <div id="vue-app" v-cloak>
        <div class="col d-flex justify-content-start">
            <h3 class="content-title">Wymiar etatu w miesiącu i dni wolne</h3>
        </div>
        <div class="content_box">
            <div>
                <select class="month_box form-select" style="max-width: -moz-available; margin-bottom: 15px"
                        v-model="year_cal">
                    <option v-for="av_year in available_years" :value="av_year">
                        [[ av_year ]]
                    </option>
                </select>

                <form id="schedule_form" v-on:submit.prevent="put_jobtime_data()">

                    <div class="month_box"><h5 style="align-items: center">Styczeń</h5><input type="number" class="w-50 form-control"
                                                                  v-model="year_object.january" required></div>
                    <div class="month_box"><h5>Luty</h5><input type="number" class="w-50 form-control"
                                                               v-model="year_object.february" required></div>
                    <div class="month_box"><h5>Marzec</h5><input type="number" class="w-50 form-control"
                                                                 v-model="year_object.march" required></div>
                    <div class="month_box"><h5>Kwiecień</h5><input type="number" class="w-50 form-control"
                                                                   v-model="year_object.april" required></div>
                    <div class="month_box"><h5>Maj</h5><input type="number" class="w-50 form-control"
                                                              v-model="year_object.may" required></div>
                    <div class="month_box"><h5>Czerwiec</h5><input type="number" class="w-50 form-control"
                                                                   v-model="year_object.june" required></div>
                    <div class="month_box"><h5>Lipiec</h5><input type="number" class="w-50 form-control"
                                                                 v-model="year_object.july" required></div>
                    <div class="month_box"><h5>Sierpień</h5><input type="number" class="w-50 form-control"
                                                                   v-model="year_object.august" required></div>
                    <div class="month_box"><h5>Wrzesień</h5><input type="number" class="w-50 form-control"
                                                                   v-model="year_object.september" required></div>
                    <div class="month_box"><h5>Październik</h5><input type="number" class="w-50 form-control"
                                                                      v-model="year_object.october" required></div>
                    <div class="month_box"><h5>Listopad</h5><input type="number" class="w-50 form-control"
                                                                   v-model="year_object.november" required></div>
                    <div class="month_box"><h5>Grudzień</h5><input type="number" class="w-50 form-control"
                                                                   v-model="year_object.december" required></div>

                    <input type="submit" value="Zapisz zmiany" class="btn btn-outline-success"
                           style="margin-bottom: 50px">
                </form>
            </div>

            <div>
                <form class="content_box" v-on:submit.prevent="create_freeday()">
                    <div class="form-floating" style="margin-bottom: 10px; width: 250px">
                        <input type="date" class="form-control" v-model="newday" id="inputDateStart"
                               placeholder="Dodaj dzień wolny" required>
                        <label for="inputDateStart">Dodaj dzień wolny</label>
                    </div>
                    <div class="form-floating" style="margin-bottom: 10px; max-width: 200px">
                        <input type="text" class="form-control" v-model="newname" id="inputName"
                               placeholder="Dodaj dzień wolny" required>
                        <label for="inputName">Nazwa dnia wolnego</label>
                    </div>
                    <input type="submit" value="Dodaj" class="btn btn-outline-success" style="height: 72px">
                </form>

                <div class="list-group" style="margin-left: 5px; margin-right: 5px">
                    <div v-for="freeday in freeday_list_for_year" :key="freeday.id"
                         class="list-group-item list-group-item-action position-static">
                        <div class="freeday_table_box">
                            <div>[[ freeday.day ]]</div>
                            <div>[[ freeday.name ]]</div>
                            <button v-on:click="remove_freeday(freeday.id)"
                                    class="material-icons" style="border: none; background-color: rgba(0, 0, 255, 0);">
                                delete_outline
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block vue-content %}
    
    <script type="module">
        const {createApp} = Vue
        createApp({
            delimiters: ["[[", "]]"],
            data() {
                return {
                    response: null,
                    jobtime_list: null,
                    freeday_list: null,
                    newday: null,
                    newname: null,
                    jobtime_manage_url: '{% url 'jobtime-list' %}',
                    freeday_url: '{% url 'freeday-list' %}',
                    year_cal: new Date().getFullYear(),
                    available_years: [
                        new Date().getFullYear() - 5,
                        new Date().getFullYear() - 4,
                        new Date().getFullYear() - 3,
                        new Date().getFullYear() - 2,
                        new Date().getFullYear() - 1,
                        new Date().getFullYear(),
                        new Date().getFullYear() + 1,
                        new Date().getFullYear() + 2,
                        new Date().getFullYear() + 3,
                        new Date().getFullYear() + 4,
                        new Date().getFullYear() + 5,
                    ],
                }
            },
            methods: {
                fetch_data() {
                    axios
                        .get(this.jobtime_manage_url)
                        .then(response => {
                                this.jobtime_list = response.data;
                                console.log(this.jobtime_list)
                            }
                        )
                        .catch(error => {
                                this.response = error.response.data
                            }
                        );
                    axios
                        .get(this.freeday_url)
                        .then(response => {
                                this.freeday_list = response.data;
                                console.log(this.freeday_list)
                            }
                        )
                        .catch(error => {
                                this.response = error.response.data
                            }
                        );
                },
                put_jobtime_data() {
                    swal({
                        title: "Potwierdź zapisanie zmian",
                        icon: "info",
                        buttons: true
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                let flag = false;
                                let put_jobtime_manage_url = this.jobtime_manage_url + this.year_object.id + '/';
                                for (let year of this.jobtime_list) {
                                    if (Object.values(year)[1] == this.year_object.year) {
                                        flag = true
                                        axios
                                            .put(put_jobtime_manage_url, this.year_object)
                                            .then(response => {
                                                this.fetch_data()
                                            })
                                            .catch(error => {
                                                    this.response = error.response.data
                                                }
                                            )
                                    }
                                }
                                if (!flag) {
                                    axios
                                        .post(this.jobtime_manage_url, this.year_object)
                                        .then(response => {
                                            this.fetch_data()
                                        })
                                        .catch(error => {
                                                this.response = error.response.data
                                            }
                                        )
                                }
                            }
                        });
                },
                create_freeday() {
                    swal({
                        title: "Potwierdź dodanie dnia wolnego",
                        icon: "info",
                        buttons: true
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                axios
                                    .post(this.freeday_url, {
                                        day: this.newday,
                                        name: this.newname
                                    })
                                    .then(response => {
                                        this.fetch_data()
                                    })
                                    .catch(error => {
                                            this.response = error.response.data
                                        }
                                    )
                            }
                        });
                },
                remove_freeday(day_id) {
                    swal({
                        title: "Potwierdź usunięcie dnia wolnego",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willAdd) => {
                            if (willAdd) {
                                axios
                                    .delete(this.freeday_url + day_id, {
                                        id: day_id
                                    })
                                    .then(response => {
                                        this.fetch_data()
                                    })
                                    .catch(error => {
                                            this.response = error.response.data
                                        }
                                    )
                            }
                        });
                },
            },
            computed: {
                year_object() {
                    if (this.jobtime_list != null) {
                        for (let year of this.jobtime_list) {
                            if (Object.values(year)[1] == this.year_cal) {
                                return year
                            }
                        }
                        return {
                            id: null,
                            year: this.year_cal,
                            january: 0,
                            february: 0,
                            march: 0,
                            april: 0,
                            may: 0,
                            june: 0,
                            july: 0,
                            august: 0,
                            september: 0,
                            october: 0,
                            november: 0,
                            december: 0
                        }
                    } else {
                        return {
                            id: null,
                            year: null,
                            january: null,
                            february: null,
                            march: null,
                            april: null,
                            may: null,
                            june: null,
                            july: null,
                            august: null,
                            september: null,
                            october: null,
                            november: null,
                            december: null
                        }
                    }
                },
                freeday_list_for_year() {
                    if (this.freeday_list != null) {
                        let year_freeday_list = [];
                        for (let day of this.freeday_list) {
                            if (day.day.slice(0, 4) == this.year_cal) {
                                year_freeday_list.push(day);
                            }
                        }
                        return year_freeday_list;
                    } else {
                        return [{id: null, day: null}]
                    }
                },
            },
            mounted() {
                this.fetch_data();
            },
        }).mount('#vue-app');

    </script>
{% endblock vue-content %}