{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/schedules/schedule.css' %}">
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="application/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>
{% endblock head %}

{% block content %}
    {% comment %} <nav style aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'units_manage' %}"
                                           class="breadcrumb-link">{{ user.user_org }}</a></li>
            <li class="breadcrumb-item current-subpage">Grafiki</li>
        </ol>
        <h2 class="breadcrumb-title"><a href="{% url 'units_manage' %}">
            <i class="material-icons breadcrumb-go-back-icon">arrow_back_ios</i></a>Zarządzanie grafikami</h2>
        </h2>
        <hr class="breadcrumb" style="opacity: 1">
    </nav> {% endcomment %}
    {% if is_any_workplace %}
 
    <div id="vue-app">

        <div class="col d-flex justify-content-start">
            <h3 class="content-title">Grafiki</h3>
        </div>
        <div class="row m-2">  
            <div class="col mb-1">
                <select class="form-select" v-model="month_cal" v-on:change="fetch_data">
                    <option v-for="label in month_labels" :value="label.id">
                        [[ label.name ]]
                    </option>
                </select>
            </div>
            <div class="col mb-1">
                <select class="form-select" v-model="year_cal" v-on:change="fetch_data">
                    <option v-for="av_year in available_years" :value="av_year">
                        [[ av_year ]]
                    </option>
                </select>
            </div>
            <div class="col mb-1">
                <select class="form-select" v-model="selected_unit" v-on:change="change_workplace">
                    <option v-for="unit in select_unit" :value="unit.id">
                        [[ unit.name ]]
                    </option>
                </select>
            </div>
            <div class="col mb-1">
                <select class="form-select" v-model="selected_workplace" v-on:change="fetch_data">
                    <option v-for="workplace in current_workplace" :value="workplace.id">
                        [[ workplace.name ]]
                    </option>
                </select>
            </div>

            <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal"
                        data-bs-target="#generateReportModal">
                    Wygeneruj raport
                </button>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#generateScheduleModal">
                    Wygeneruj grafik
                </button>
            </div>

        </div>
        <work-calendar v-on:call-rest-api="callApiManualChange"
                :year="year_cal"
                :month="month_cal"
                :unit_id="selected_unit"
                :workplace_id="selected_workplace"
                :employee_id="employee_id"
                :show_for_workplace="show_for_workplace"
                :schedule="fetched_schedule"
                :available_workers="available_workers"
                :available_shift_types="available_shift_types">
        </work-calendar>

        <div>
            <h5 style="margin-top: 25px; margin-top: 20px;">Statystyki dla jednostki</h5>

            <table class="w-50 table">
                <thead>
                    <tr>
                        <th scope="col">Pracownik</th>
                        <th scope="col">Godziny/Etat</th>
                        <th scope="col">Bilans</th>
                        <th scope="col">Ilość zmian</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="stat in statistics">
                        <td>[[ stat.name ]]</td>
                        <td>[[ stat.hours ]]/[[ stat.jobtime ]]h</td>
                        <td v-if="calculate_diff(stat.hours, stat.jobtime) < 0" style="color: red;">[[ calculate_diff(stat.hours, stat.jobtime) ]]</td>
                        <td v-if="calculate_diff(stat.hours, stat.jobtime) == 0">[[ calculate_diff(stat.hours, stat.jobtime) ]]</td>
                        <td v-if="calculate_diff(stat.hours, stat.jobtime) > 0" style="color: green;">[[ calculate_diff(stat.hours, stat.jobtime) ]]</td>
                        <td>[[ return_stat_shifts(stat.shift_type) ]]</td>
                    </tr>
                </tbody>
            </table>
               


            {% comment %} <div class="stat_table" style="margin-left: 20px">
                <div class="stat_box_name"><p style="font-weight: bold; margin-bottom: 5px;">Pracownik</p></div>
                <div class="stat_box_name" style="width: 160px"><p style="font-weight: bold; margin-bottom: 5px;">Godziny/Etat</p></div>
                <div class="stat_box_name"><p style="font-weight: bold; margin-bottom: 5px;">Ilość zmian</p></div>
            </div>
            <ul>
                <li v-for="stat in statistics">
                    <div class="stat_table">
                        <div class="stat_box_name">[[ stat.name ]]</div>
                        <div class="stat_box">[[ stat.hours ]]/[[ stat.jobtime ]]h</div>
                        <div class="stat_box">
                            <span v-for="(type, index) in stat.shift_type">
                                [[ index ]]:[[ type ]] &nbsp;</span>
                        </div>
                    </div>
                </li>
            </ul> {% endcomment %}        
        
        </div>

        <div class="modal fade" id="generateReportModal" tabindex="-1" aria-labelledby="generateReportLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Wygeneruj raport</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Ustawienia
                  [[select_unit.find(unit => unit.id === selected_unit).name]]
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reportModal">Generuj</button>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Raport</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div ref="reportRef" id="report">
                    <schedule-report></schedule-report>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                  <button type="button" class="btn btn-primary" v-on:click="printToPdf">Zapisz do PDF</button>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="generateScheduleModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <form id="schedule_form" v-on:submit.prevent="create_schedule">
                        {% csrf_token %}
                        <div class="modal-header" v-if="loading == false">
                            <h5 class="modal-title" id="generateScheduleLabel">Wygeneruj nowy grafik dla [[select_unit.find(unit => unit.id === selected_unit).name]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body" v-if="loading == false">
                            <div class="row g-3 d-flex align-items-center">
                                <div class="col-6">
                                    <label for="year" class="form-label modal-style">Rok</label>
                                </div>
                                <div class="col-6">
                                    <input type="number" class="form-control" v-model="year" required>
                                </div>

                                <div class="col-6">
                                    <label for="month" class="form-label modal-style">Miesiąc</label>
                                </div>
                                <div class="col-6">
                                    {% comment %} <input type="number" class="form-control" v-model="month" required> {% endcomment %}
                                    <select class="form-select overflow-hidden" v-model="month">
                                        <option v-for="label in month_labels" :value="label.id">
                                            [[ label.name ]]
                                        </option>
                                    </select>
                                </div>

                                <label class="form-label">Działy uwzględnione w grafiku:</label>
                                <div class="list-group">
                                    <div v-for="workplace_shifts in shift_types_for_each_workplace" class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <div class="d-flex align-items-center">
                                                <input v-bind:id="workplace_shifts.workplace.id" v-bind:value="workplace_shifts.workplace.id"
                                                            class="form-check-input me-2" style="margin: 0px;" type="checkbox" checked
                                                            v-model="checked_workplace">
                                                <div class="fw-bold">[[workplace_shifts.workplace.name]]</div>
                                            </div>
                                        </div>
                                        <div v-for="shiftType in workplace_shifts.shiftTypes">
                                            <div v-if="shiftType.is_used"  class="list-group-item">
                                                <div class="d-flex flex-wrap justify-content-between align-items-center mb-2">
                                                    [[shiftType.name]]
                                                    <span class="badge rounded-pill bg-primary">[[shiftType.hour_start.toString().slice(0, 5) + " - " + shiftType.hour_end.toString().slice(0, 5)]]</span>
                                                    <div>
                                                        <div v-for="abbr in active_days_to_string_abbr_array(shiftType.active_days)" class="d-inline-flex">
                                                            <span class="badge bg-light text-dark me-1">[[abbr]]</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="modal-footer" v-if="loading == false">
                            <button type="submit" class="btn btn-primary" v-if="checked_workplace.length > 0">Wygeneruj</button>
                            <button type="button" class="btn btn-primary disabled" v-else>Wygeneruj</button>
                        </div>

                            <div v-if="loading" class="modal-body">
                                <h3 class="text-center mb-5">Generowanie grafiku...</h3>
                                <!--<img src="{% static 'img/Loading_icon.gif' %}" alt="Be patient"/>-->
                                <div class="text-center">
                                    <div class="spinner-border spinner-border-lg text-primary" role="status">
                                        <span class="visually-hidden">Waiting...</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

       
    </div>
    {% else %}
        <span>Brak działów</span>
    {% endif %}
{% endblock %}


{% block vue-content %}
    {% if is_any_workplace %}
        <script type="module">
        import WorkCalendar from "{% static 'js/components/WorkCalendar.js' %}";
        import ScheduleReport from "{% static 'js/components/ScheduleReport.js' %}";

        const {ref, createApp} = Vue
        createApp({
            delimiters: ["[[", "]]"],
            components: {
                WorkCalendar,
                ScheduleReport
            },
            setup() {
                const reportRef = ref(null);
                
                return {
                    reportRef
                }
            },
            data() {
                return {
                    fetched_schedule: null,
                    employee_id: 1,
                    show_for_workplace: true,
                    selected_unit: {{ default_unit }},
                    select_unit: {{ select_unit | safe}},
                    select_workplace: {{ select_workplace | safe }},
                    selected_workplace: null,
                    create_schedule_url: '{% url 'schedule_create' %}',
                    year: new Date().getFullYear(),
                    month: new Date().getMonth() + 1,
                    year_cal: new Date().getFullYear(),
                    month_cal: new Date().getMonth() + 1,
                    checked_workplace: [],
                    loading: false,
                    available_workers: null,
                    available_shift_types: null,
                    statistics: null,
                    shift_types_for_each_workplace: [],
                    month_labels: [
                        {id: 1, name: 'Styczeń'},
                        {id: 2, name: 'Luty'},
                        {id: 3, name: 'Marzec'},
                        {id: 4, name: 'Kwiecień'},
                        {id: 5, name: 'Maj'},
                        {id: 6, name: 'Czerwiec'},
                        {id: 7, name: 'Lipiec'},
                        {id: 8, name: 'Sierpień'},
                        {id: 9, name: 'Wrzesień'},
                        {id: 10, name: 'Październik'},
                        {id: 11, name: 'Listopad'},
                        {id: 12, name: 'Grudzień'},
                    ],
                    available_years: [
                        new Date().getFullYear() - 5,
                        new Date().getFullYear() - 4,
                        new Date().getFullYear() - 3,
                        new Date().getFullYear() - 2,
                        new Date().getFullYear() - 1,
                        new Date().getFullYear(),
                        new Date().getFullYear() + 1,
                        new Date().getFullYear() + 2,
                    ],
                }
            },
            methods: {
                calculate_diff(hours, job_time) {
                    return hours - job_time
                },
                printToPdf(){
                    html2pdf().from(document.getElementById('report')).save();
                },
                return_stat_shifts(shift_list) {
                    let shift_string = ''
                    for (let shift in shift_list){
                        shift_string += shift;
                        shift_string += ':';
                        shift_string += shift_list[shift];
                        shift_string += ' '
                    }
                    return shift_string;
                },
                create_schedule() {
                    this.loading = true
                    axios
                        .post(this.create_schedule_url,
                            {
                                workplace_list: this.checked_workplace,
                                year: this.year,
                                month: this.month
                            }
                        )
                        .then(response => {
                                this.loading = false;
                                this.year_cal = this.year;
                                this.month_cal = this.month;
                                if (this.checked_workplace.length > 0) {
                                    this.selected_workplace = this.checked_workplace[0];
                                }
                                this.fetch_data();
                            }
                        )
                },
                fetch_data() {
                    axios
                        .get(this.base_url, {params: {'year': this.year_cal, 'month': this.month_cal}})
                        .then(response => {
                                this.fetched_schedule = response.data;
                                this.statistics = response.data['statistics']
                                console.log(this.statistics)
                            }
                        );
                    axios
                        .get(this.employee_list_url)
                        .then(response => {
                                this.available_workers = response.data;
                            }
                        );
                    axios
                        .get(this.shift_type_list_url)
                        .then(response => {
                                this.available_shift_types = response.data;
                            }
                        );
                    this.fetch_shift_types_for_each_workplace().then(result => {
                        this.shift_types_for_each_workplace = result;
                        });
                },
                change_workplace() {
                    try {
                        this.selected_workplace = this.select_workplace[this.selected_unit][0]['id']
                    } catch {

                    }
                    this.fetch_data()
                },
                async fetch_shift_types_for_each_workplace(){
                    const shiftTypes_to_workplace = [];
                    for (let i=0; i<this.current_workplace.length; i++){
                        
                        const shiftType_base_url = '{% url 'shiftType-list' 123456789 %}'.replace(/123456789/, this.current_workplace[i].id);
                           
                        await axios.get(shiftType_base_url).then(response => {
                            shiftTypes_to_workplace.push({workplace: this.current_workplace[i], shiftTypes: response.data});
                        });
                            
                    }
                    return shiftTypes_to_workplace;
                },
                active_days_to_string_abbr_array(active_days_numeric){
                    const abbr_to_day=["Pn", "Wt", "Śr", "Cz", "Pt", "Sb", "Nd"];
                    let abbreviations = [];

                    if (typeof active_days_numeric == "string" && active_days_numeric.length === 7) {
                        for(let day=0; day < active_days_numeric.length; day++){
                            if (active_days_numeric.charAt(day) == '1') {
                                abbreviations.push(abbr_to_day[day]);
                            }
                        }
                    }
                    else {
                        return [];
                    }

                    return abbreviations;
                },
                callApiManualChange(method, specific_shift_id, employee_id, shift_type_id, workplace_id, date_python_format){
                    switch (method) {
                        case 'put':
                            console.log('PUT: Shift: '+specific_shift_id+' Employee: '+employee_id);
                            this.putApiShiftManage(specific_shift_id, employee_id);
                            break;
                        
                        case 'delete':
                            console.log('DELETE: Shift: '+specific_shift_id);
                            this.deleteApiShiftManage(specific_shift_id);
                            break;
                        
                        case 'post':
                            console.log('POST: Shift_type: '+shift_type_id+' Employee: '+employee_id +' Date: '+date_python_format +' Workplace: '+workplace_id);
                            this.postApiShiftManage(shift_type_id, employee_id, date_python_format, workplace_id);
                            break;

                        default:
                            console.log('error message: \n you\'ve tried to call unhandled rest api method');
                    }                  
                },
                /* UPDATE EXISTING SHIFT */
                putApiShiftManage(specific_shift_id, employee_id){
                    let put_url = '{% url 'shift_manage' %}';
                    axios
                        .put(put_url,
                            {
                                Shift: specific_shift_id,
                                Employee: employee_id
                            }
                        )
                        .then(response => {
                                this.fetch_data();
                            }
                        )
                },
                /* DELETE EXISTING SHIFT */
                deleteApiShiftManage(specific_shift_id){
                    let delete_url = '{% url 'shift_manage' %}';
                    axios
                        .delete(delete_url,
                            {data:{Shift: specific_shift_id}}
                        )
                        .then(response => {
                                this.fetch_data();
                            }
                        )
                },
                /* ADD NEW SHIFT */
                postApiShiftManage(shift_type_id, employee_id, date_python_format, workplace_id){
                    let post_url = '{% url 'shift_manage' %}';
                    axios
                        .post(post_url,
                            {
                                Date: date_python_format,
                                Employee: employee_id,
                                Shift_type: shift_type_id,
                                Workplace: workplace_id,
                            }
                        )
                        .then(response => {
                                this.fetch_data();
                            }
                        )
                },
                
            },
            computed: {
                base_url: {
                    get() {
                        return '{% url 'schedule_get' 123456789 %}'.replace(/123456789/, this.selected_workplace);
                    }
                },
                employee_list_url: {
                    get() {
                        return '{% url 'employee-list' %}';
                    }
                },
                shift_type_list_url: {
                    get() {
                        return '{% url 'shiftType-list' 123456789 %}'.replace(/123456789/, this.selected_workplace);
                    }
                },
                current_workplace: {
                    get() {
                        return this.select_workplace[this.selected_unit]
                    }
                }
            },
            mounted() {

                try {
                    this.selected_workplace = this.select_workplace[this.selected_unit][0]['id']
                } catch {

                }
                this.fetch_data()
            },
        }).mount('#vue-app');

        </script>
    {% endif %}
{% endblock vue-content %}
