{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{#START/added calendar#}
{#{% block vue-cdn %}#}
{#    <script src="https://unpkg.com/vue@3"></script>#}
{#{% endblock vue-cdn %}#}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/schedules/schedule.css' %}">
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="application/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>
{% endblock head %}

{#STOP/added calendar#}

{% block content %}
    <nav style aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Strona główna</a></li>
            <li class="breadcrumb-item">Nazwa organizacji</li>
            <li class="breadcrumb-item" aria-current="page"><span style="font-weight: 600;">Jednostki</span></li>
        </ol>

        <h2 class="mb-4"><a href="{% url 'home' %}"><i class="material-icons"
                                                       style="text-align: center; font-size:24px;">arrow_back_ios</i></a>Grafik
        </h2>
        <hr class="breadcrumb">
    </nav>

    <button type="button" class="m-1 btn btn-success d-flex justify-content-center align-content-between"
            data-bs-toggle="modal" data-bs-target="#generateScheduleModal">
        Stwórz grafik
    </button>

    {#    START/added calendar#}
    <div id="vue-app">
        <label>
            <input type="text" v-model="year_str" placeholder="Year">
        </label>
        <label>
            <input type="text" v-model="month_str" placeholder="Month">
        </label>


{#        <select v-model="selected_unit" v-on:change="change_workplace">#}
{#            <option v-for="unit in select_unit" :value="unit.id">#}
{#                [[ unit.name ]]#}
{#            </option>#}
{#        </select>#}

        <select v-model="selected_workplace" v-on:change="fetch_data">
            <option v-for="workplace in current_workplace" :value="workplace.id">
                [[ workplace.name ]]
            </option>
        </select>

        <work-calendar
                :year="Number(year_str)"
                :month="Number(month_str)"
                :unit_id="selected_unit"
                :workplace_id="selected_workplace"
                :employee_id="employee_id"
                :show_for_workplace="show_for_workplace"
                :schedule="fetched_schedule">
        </work-calendar>
    </div>
    {#    END/added calendar#}

    <div class="modal fade" id="generateScheduleModal" tabindex="-1" aria-labelledby="generateScheduleLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="schedule_form" action method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="generateScheduleLabel">Utwórz nowy grafik</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="date_start" class="form-label">Data startu</label>
                            </div>
                            <div class="col-md-6">
                                <input type="date" class="form-control" name="date_start" required>
                            </div>

                            <div class="col-md-6">
                                <label for="date_end" class="form-label">Data końca</label>
                            </div>
                            <div class="col-md-6">
                                <input type="date" class="form-control" name="date_end" required>
                            </div>

                            <label class="form-label">Działy uwzględnione w grafiku:</label>
                            {% for workplace in workplace_list %}
                                <div class="col-md-6">
                                    <label class="form-label">{{ workplace.name }}</label>
                                </div>
                                <div class="col-md-6 text-center">
                                    <input type="checkbox" class="form-check-input" checked
                                           name="{{ workplace.name }}_checkbox">
                                </div>
                            {% endfor %}
                            {#                            <input type="submit">#}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <label class="form-label">Przetestować "Wygeneruj"</label>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                        <button type="submit" class="btn btn-primary">Wygeneruj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {#    <div>#}
    {#                <h1>Utwórz nowy grafik</h1>#}
    {#                <form id="schedule_form" action method="post">#}
    {#                    {% csrf_token %}#}
    {#                    <label>Data startu</label>#}
    {#                    <input type="date" name="date_start" required>#}
    {#                    <label>Data końca</label>#}
    {#                    <input type="date" name="date_end" required>#}
    {#        {% for workplace in workplace_list %}#}
    {#            <label>Czy uzwględnić {{ workplace.name }} w grafiku?</label>#}
    {#            <input type="checkbox" checked name="{{ workplace.name }}_checkbox">#}
    {#        {% endfor %}#}
    {#        <input type="submit">#}
    {#        </form>#}
    {#    </div>#}

{% endblock %}

{#START/added calendar#}
{% block vue-content %}
    <script type="module">
        {#import WorkCalendar from '../../static/js/components/WorkCalendar.js'#}

        import WorkCalendar from "{% static 'js/components/WorkCalendar.js' %}";

        const {createApp} = Vue
        createApp({
            delimiters: ["[[", "]]"],
            components: {
                WorkCalendar
            },
            data() {
                return {
                    fetched_schedule: null,
                    month_str: '5',
                    year_str: '2022',
                    employee_id: 1,
                    show_for_workplace: true,
                    selected_unit: {{ chosen_unit }},
                    select_workplace: {{ select_workplace | safe }},
                    selected_workplace: null
                }
            },
            computed: {
                base_url: {
                    get() {
                        return '{% url 'schedule_get' 123456789 %}'.replace(/123456789/, this.selected_workplace);
                    }
                },
                current_workplace: {
                    get() {
                        return this.select_workplace[this.selected_unit]
                    }
                }
            },
            methods: {
              fetch_data() {
                    axios
                        .get(this.base_url, {params:{'year': this.year_str, 'month': this.month_str}})
                        {#//.then(response => (this.schedul = response.data))#}
                        .then(response => {
                            this.fetched_schedule = response.data;
                        }

                  )
                },
            },
            mounted() {
                //this.fetch_data();
            },
        }).mount('#vue-app');
    </script>

{% endblock vue-content %}

{#END/added calendar#}