{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/schedules/shiftType_manage.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooltip.css' %}">
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="application/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>
{% endblock head %}

{% block content %}
    {% comment %} <nav style aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'units_manage' %}"
                                           class="breadcrumb-link">{{ user.user_org }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'units_manage' %}" class="breadcrumb-link">Jednostki</a></li>
            <li class="breadcrumb-item"><a href="{% url 'workplace_manage' %}" class="breadcrumb-link">Działy</a></li>
            <li class="breadcrumb-item current-subpage">Zmiany</li>
        </ol>
        <h2 class="breadcrumb-title"><a href="{% url 'units_manage' %}">
            <i class="material-icons breadcrumb-go-back-icon">arrow_back_ios</i></a>Zarządzanie zmianami</h2>
        </h2>
        <hr class="breadcrumb" style="opacity: 1">
    </nav> {% endcomment %}

    {% if is_any_workplace %}
    <div id="vue-app" v-cloak>
        <loading v-model:active="fetching_data_in_progress" :can-cancel="false" :loader="'dots'" :color="'#002d69'"></loading>
        [[ calculate_daylist ]]
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col d-flex justify-content-start">
                <h6 class="content-title">Lista zmian</h6>
            </div>
            <div class="row align-items-center mb-1">
                <div class="col-auto mb-1">
                    <label class="col-form-label" for="unitSelect">Jednostka:</label>
                </div>
                <div class="col-auto mb-1">
                    <select id="unitSelect" class="form-select" v-model="selected_unit"
                            v-on:change="change_workplace">
                        <option v-for="unit in select_unit" :value="unit.id">
                            [[ unit.name ]]
                        </option>
                    </select>
                </div>
            
                <div class="col-auto mb-1">
                    <label class="col-form-label" for="workplaceSelect">Dział:</label>
                </div>
                <div class="col-auto mb-1">
                    <select id="workplaceSelect" class="form-select" v-model="selected_workplace"
                            v-on:change="fetch_data">
                        <option v-for="workplace in current_workplace" :value="workplace.id">
                            [[ workplace.name ]]
                        </option>
                    </select>
                </div>
            
                <div class="col d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#addShiftModal">
                        Dodaj zmianę
                    </button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addShiftModal" tabindex="-1" aria-labelledby="shiftModalLabel"
                aria-hidden="true">
            <div class="modal-dialog" style="max-width: 800px">
                <div class="modal-content">
                    <form v-on:submit.prevent="add_shiftType">
                        <div class="modal-header">
                            <h5 class="modal-title" id="shiftModalLabel">Dodawanie zmiany</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="row g-3 d-flex align-items-center">
                                <div class="col-4">
                                    <label for="shiftStartDate" class="form-label modal-style" required>Start
                                        zmiany</label>
                                </div>
                                <div class="col-8">
                                    <input type="time" class="form-control" v-model="hour_start"
                                            id="shiftStartDate" required>
                                </div>
                                <div class="col-4">
                                    <label for="shiftEndDate" class="form-label modal-style" required>Koniec
                                        zmiany</label>
                                </div>
                                <div class="col-8">
                                    <input type="time" class="form-control" v-model="hour_end" id="shiftEndDate"
                                            required>
                                </div>
                                <div class="col-4">
                                    <label for="shiftName" class="form-label modal-style" required>Nazwa</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" v-model="name" id="shiftName"
                                            required>
                                </div>
                                <div class="col-4">
                                    <table>
                                        <tbody>
                                            <td><label for="shiftName" class="form-label modal-style" required>Skrót</label></td>
                                            <td>
                                                <tooltip text="Skrócona nazwa zmiany wykorzystywana, np. w raportach." margin="-93px">
                                                    <div class="material-icons" style="font-size: 0.93rem; color: #616161; margin-top: 5px;">help</div>
                                                </tooltip>
                                            </td>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" v-model="shift_code" id="shiftName"
                                            required>
                                </div>


                                <div class="col-4">
                                    <label for="demand" class="form-label modal-style">Liczba osób na zmianie</label>
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" v-model="demand" id="demand"
                                            required>
                                </div>

                                <div class="col-4">
                                    <label for="color" class="form-label modal-style">Kolor</label>
                                </div>
                                <div class="col-8">
                                    <input type="color" class="form-control-color" v-model="color" id="color"
                                            required>
                                </div>


                                {% comment %} <div class="list-group list-group-horizontal" style="margin-top: 15px">
                                    <div v-for="day of daylist_add"
                                            class="list-group-item list-group-item-action ">
                                        <div class="active_days_row">
                                            <input type="checkbox" v-model="day.val">
                                            <div class="fw-bold"> [[ day.day ]]</div>
                                        </div>
                                    </div>
                                </div> {% endcomment %}

                                <div class="col-4">
                                    <table>
                                        <tbody>
                                            <td><label for="shiftName" class="form-label modal-style">W użyciu</label></td>
                                            <td>
                                                <tooltip text="Parametr określający czy dana zmiana będzie uwzględniana w generowaniu grafiku." margin="-93px">
                                                    <div class="material-icons" style="font-size: 0.93rem; color: #616161; margin-top: 5px;">help</div>
                                                </tooltip>
                                            </td>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-8 d-flex align-items-center">
                                    <input type="checkbox" class="form-check-input" style="margin: 0px;"
                                            value=""
                                            v-model="is_used" id="isShiftUsed" checked>
                                </div>
                            </div>

                            <label v-for="(field, index) in response" style="color: #FF0000; margin-top: 20px">
                                [[ field.join('') ]]
                            </label>
                        </div>
                        
                        

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary">Dodaj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <data-table 
        v-on:rows-sent-to-delete="datatable_delete_shifttypes"
        v-on:rows-sent-to-update="datatable_update_shifttypes"
        :fields_options="[
        {title: 'Start zmiany', editable: true, property_name: 'hour_start', type: 'time', allow_filter: true, default_filter: 'asc'},
        {title: 'Koniec zmiany', editable: true, property_name: 'hour_end', type: 'time', allow_filter: true},
        {title: 'Nazwa', editable: true, property_name: 'name', type: 'text', highlighted: true, allow_filter: true},
        {title: 'Skrót', editable: true, property_name: 'shift_code', type: 'text', allow_filter: true},
        {title: 'Kolor', editable: true, property_name: 'color', type: 'color'},
        {title: 'Liczba osób na zmianie', editable: true, property_name: 'demand', type: 'number', allow_filter: true},
        {title: 'W użyciu', editable: true, property_name: 'is_used', type: 'checkbox', allow_filter: true},]" 
        :data_rows="shiftType_list"
        :options="{start_mobile_view_px: 1450, 
            editable: true, 
            allow_special_edit_mode: true,
            allow_modal_edit_on_mobile: true,
            allow_modal_edit_on_desktop: true,
            always_mobile_mode: false,
        }">
        </data-table>

    </div>
    {% else %}
        <span>Brak działów</span>
    {% endif %}
{% endblock content %}

{% block vue-content %}
    {% if is_any_workplace %}
        <script type="module">
            import DataTable from "{% static 'js/components/DataTable.js' %}";
            import tooltip from "{% static 'js/components/tooltip.js' %}";


            const {createApp} = Vue
            var app = createApp({
                delimiters: ["[[", "]]"],
                components: {
                    DataTable,
                    tooltip,
                },
                data() {
                    return {
                        hour_start: '',
                        hour_end: '',
                        name: '',
                        active_days: '',
                        demand: '',
                        color: '#ffffff',
                        is_used: true,
                        shift_code: null,
                        shiftType_list: [],
                        response: null,
                        selected_unit: {{ default_unit }},
                        select_unit: {{ select_unit | safe}},
                        select_workplace: {{ select_workplace | safe }},
                        selected_workplace: '',
                        daylist: [],
                        daylist_add: this.st_numbers_to_list('1111111'),
                        fetching_data_in_progress: true,
                    }
                },
                computed: {
                    base_url: {
                        get() {
                            {% comment %}let url = '{% url 'shiftType' 1234 %}'.replace(/1234/, this.selected_workplace){% endcomment %}
                            {#let url = 'http://{{ request.get_host }}/' + 'schedules/api/' + this.selected_workplace + '/shiftType/'#}
                            {#return url#}
                            return '{% url 'shiftType-list' 123456789 %}'.replace(/123456789/, this.selected_workplace);
                        }
                    },
                    current_workplace: {
                        get() {
                            return this.select_workplace[this.selected_unit]
                        }
                    },
                    calculate_daylist() {
                        if (this.shiftType_list != null) {
                            for (let shift of this.shiftType_list) {
                                let model = {
                                    shiftType: shift,
                                    active_days: this.st_numbers_to_list(shift.active_days),
                                };
                                this.daylist.push(model)
                            }
                        }
                    },
                },
                methods: {
                    return_daylist(shiftType) {
                        if (this.daylist != []) {
                            for (let model of this.daylist) {
                                if (Object.values(model)[0] == shiftType) {
                                    return Object.values(model)[1]
                                }
                            }
                        }
                    },
                    change_workplace() {
                        try {
                            this.selected_workplace = this.select_workplace[this.selected_unit][0]['id']
                        } catch {

                        }
                        this.fetch_data()
                    },
                    fetch_data() {
                        this.fetching_data_in_progress = true;
                        axios
                            .get(this.base_url)
                            .then(response => {
                                this.shiftType_list = response.data
                                this.fetching_data_in_progress = false;
                            })
                            .catch(error => {
                                    this.response = error.response.data
                                }
                            )
                        this.daylist_add = this.st_numbers_to_list('1111111')
                    },
                    add_shiftType() {
                        swal({
                            title: "Potwierdź dodanie zmiany",
                            icon: "info",
                            buttons: true
                        })
                            .then((willAdd) => {
                                if (willAdd) {

                                    axios
                                        .post(this.base_url,
                                            {
                                                hour_start: this.hour_start,
                                                hour_end: this.hour_end,
                                                name: this.name,
                                                shift_code: this.shift_code,
                                                color: this.color,
                                                demand: this.demand,
                                                workplace: this.selected_workplace,
                                                active_days: this.st_list_to_numbers(this.daylist_add),
                                                is_used: this.is_used
                                            }
                                        )
                                        .then(
                                            this.response = null
                                        )
                                        .then(
                                            this.fetch_data
                                        )
                                        .catch(error => {
                                                this.response = error.response.data
                                            }
                                        )
                                    this.hour_start = ''
                                    this.hour_end = ''
                                    this.name = ''
                                    this.active_days = ''
                                    this.is_used = 1
                                }
                            });
                    },
                    st_numbers_to_list(numbers_str) {
                        let day_list = []
                        let day_blueprint = ['pon', 'wt', 'sr', 'czw', 'pt', 'sob', 'nd']
                        let day_blueprint_long = ['poniedziałek', 'wtorek', 'środa', 'czwartek', 'piątek', 'sobota', 'niedziela']
                        for (var i = 0; i < 7; i++) {
                            if (numbers_str.charAt(i) == '1') {
                                day_list.push({
                                    day: day_blueprint[i],
                                    day_long: day_blueprint_long[i],
                                    val: true,
                                })
                            } else {
                                day_list.push({
                                    day: day_blueprint[i],
                                    day_long: day_blueprint_long[i],
                                    val: false,
                                })
                            }
                        }
                        return (day_list)
                    },
                    st_list_to_numbers(day_list) {
                        let day_str = ''
                        for (let day of day_list) {
                            if (day.val == 1) {
                                day_str += 1
                            } else {
                                day_str += 0
                            }
                        }
                        return day_str
                    },
                    st_list_to_text(day_list) {
                        let day_str = ''
                        for (let day of day_list) {
                            if (day.val == true) {
                                day_str += day.day
                                day_str += ' '
                            }
                        }
                        return day_str
                    },
                    datatable_delete_shifttypes(rows){
                        this.request_delete_loop(rows).then(
                            this.fetch_data
                        )
                    },
                    async request_delete_loop(rows){
                        for (let i=0; i<rows.length; i++){
    
                            const current_url = this.base_url + rows[i].id + '/'
                            
                            await axios
                                .delete(current_url,
                                    {
                                        id: rows[i].id
                                    }
                                ).catch(
                                    error => {
                                        this.response = error.response.data
                                    }
                                )
                        }
                    },
                    datatable_update_shifttypes(rows){
                        this.request_put_loop(rows).then(
                            this.fetch_data
                        )
                    },
                    async request_put_loop(rows){
                        for (let i=0; i<rows.length; i++){
    
                            const current_url = this.base_url + rows[i].id + '/'
                            if (this.daylist == null) {
                                this.daylist = this.st_numbers_to_list(rows[i].active_days);
                            }
                            await axios
                                .put(current_url,
                                    {
                                        hour_start: rows[i].hour_start,
                                        hour_end: rows[i].hour_end,
                                        name: rows[i].name,
                                        shift_code: rows[i].shift_code,
                                        color: rows[i].color,
                                        demand: rows[i].demand,
                                        workplace: this.selected_workplace,
                                        active_days: this.st_list_to_numbers(this.daylist[i].active_days),
                                        is_used: rows[i].is_used
                                    }
                                ).catch(
                                    error => {
                                        this.response = error.response.data
                                    }
                                )
                        }
                    },
                },
                mounted() {
                    this.selected_workplace = this.select_workplace[this.selected_unit][0]['id']
                    this.fetch_data()
                }
            }).use(VueLoading.LoadingPlugin).component('loading', VueLoading.Component).mount('#vue-app');
        </script>
    {% endif %}
{% endblock vue-content %}