.emp_option_small_box {
    justify-content: space-between; 
    column-gap: 10px;
    margin: 5px;
    align-items: baseline;
}

.emp_option_big_box {
    justify-content: flex-start;
    row-gap: 20px;
    column-gap: 20px;
    margin-bottom: 15px;
}
.emp_option_wide_box {
    justify-content: flex-start;
    column-gap: 37px;
    margin: 5px;
}

h5 {
    white-space: nowrap;
    width: 260px;
    margin: 5px;
}

.emp_option_table_box {
    justify-content: space-between;
    align-items: center;
}

.emp_option_list_box {
    justify-content: flex-start;
    column-gap: 10px;
}

.emp_option_big_box, .emp_option_small_box, .emp_option_wide_box, .emp_option_table_box, .emp_option_list_box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
