.large--logo--center {
    width: 50%;
    height: auto;
    display: block;
    max-width: 500px;
    min-width: 200px;
    margin: 5% auto 3%;
}

.form--input--style {
    max-width: 480px;
    margin: auto;
}

/*breadcrumb styling*/
hr.breadcrumb {
    height: 2px;
    color: #000000;
    margin: 15px 0px;
    /*border-radius: 5px;*/
    /*border: 1px #165DFF;*/
    /*background-color: #000000;*/
}

h2.breadcrumb-title{
    margin: 20px 0px;
}

i.breadcrumb-go-back-icon{
    text-align: center;
    font-size:24px;
    color: #000000;
}

select {
    background-color: white;
    outline: none;
    border: 1.8px solid #165DFF;
    border-radius: 3px;
    min-width: 200px;
    padding: 3px;
    font-size: 24px;
}

.pn--select{

}