.large--logo--center {
    width: 50%;
    height: auto;
    display: block;
    max-width: 500px;
    min-width: 200px;
    margin: 5% auto 3%;
}

.form--input--style {
    max-width: 480px;
    margin: auto;
}

