[Unit]
Description=Planimbly huey service

[Service]
User=%u
Group=%g
WorkingDirectory=%h/repos/planimbly-prod/planimbly
EnvironmentFile=%h/repos/planimbly-prod/planimbly/.env
ExecStart=%h/repos/planimbly-prod/planimbly/venv/bin/python3.10 manage.py run_huey
