/*
*   This file contains style classes for reports generated in schedule_manage.html
*
*/

.PN-pdf-container{
    /* margin: 1rem; */
    margin: 28px; /* MARGIN FOR PRINTER: DON'T CHANGE UNLESS YOU KNOW WHAT YOU'RE DOING */
    width: 1067px; /* WIDTH OF LANDSCAPE PDF - 2 x margin: DON'T CHANGE UNLESS YOU KNOW WHAT YOU'RE DOING */
    /* background-color: aquamarine; */
    font-size: 0.55rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.PN-report-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 10px;
}

.PN-report-header-item{
    display: flex;
    font-size: 1.4em;
}
/**/
/* unit's schedule report classes */
/**/
.PN-report-schedule-table-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-grow: 1;
    /* background-color: beige; */
}

.PN-workplace-title{
    font-size: 1.1em;
}

.PN-schedule-column{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    flex-grow: 1;
    min-width: 2em;
    border-bottom: none;
    margin-bottom: 1em;
}

.PN-schedule-column-label{
    border-bottom: 3px solid;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    flex-grow: 0;
}

.PN-schedule-column-label-holiday{
    background-color: #888888;
    border-bottom: 3px solid;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

.PN-schedule-column-content{
    border-bottom: 1px solid;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    /* padding-left: 0.3rem; */
    /* padding-right: 0.3rem; */
    /* border-right: 1px solid; */
}

.PN-flex-row{
    display: flex;
    flex-direction: row;
}

.PN-schedule-column-content-employee{
    background-color: inherit;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    border-radius: 2px;
    padding-left: 0.5px;
    padding-right: 0.5px;
    align-self: center;
}

/**/
/* employees schedule report classes */
/**/
.PN-report-employee-table-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.PN-employee-row{
    display: flex;
    flex-direction: row;
}
.PN-employee-content{
    padding-left: 2px;
    padding-right: 2px;
    border-style: solid;
    border-width: 0.25px;
    width: 2.485em;
    overflow: hidden;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
.PN-employee-content-start{
    padding-left: 2px;
    padding-right: 2px;
    border-style: solid;
    border-width: 0.25px;
    width: 14em;
    overflow: hidden;
}

.PN-day-label-row{
    display: flex;
    flex-direction: row;
}

.PN-day-label-content{
    padding-left: 2px;
    padding-right: 2px;
    border-style: solid;
    border-width: 0.25px;
    width: 2.485em;
    overflow: hidden;
    text-align: center;
}
.PN-day-label-content-start{
    padding-left: 2px;
    padding-right: 2px;
    border-style: solid;
    border-width: 0.25px;
    width: 14em;
    overflow: hidden;
}

.PN-day-counter-content{
    padding-left: 2px;
    padding-right: 2px;
    border-style: solid;
    border-width: 0.25px;
    width: 6em;
    overflow: hidden;
    text-align: center;
}

.PN-parent-flex-center-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons.md-14 { font-size: 14px; vertical-align: middle; }
