{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block sidebar-items %}
    <li class="sidebar-item"><a href="{% url 'logout' %}" class="del-def-style-a">Logout</a></li>
    <li class="sidebar-item"><a href="{% url 'password_change' %}" class="del-def-style-a">Password change</a></li>
    <li class="sidebar-item"><a href="{% url 'password_reset' %}" class="del-def-style-a">Password reset</a></li>
{% endblock sidebar-items %}
{% block content %}

    <img src="{% static 'img/Logo-Main-Big2.svg' %}" alt="Main Logo" class="large--logo--center">
    <div class="row">
        <div class="col">
            <div class="text-center">

                {% if user.is_authenticated %}
                    <ul>

                        <li><a href="{% url 'organization_create' %}">Tworzenie nowej organizacji (widok kierownika)</a>
                        </li>
                        Organizacja : {{ user.user_org }}
                        <li><a href="{% url 'employees_import' %}">Importowanie pracowników do
                            organizacji: {{ user.user_org }}</a>
                        </li>
                        <li><a href="{% url 'employees_manage' %}">Zarządzanie pracownikami w ramach
                            organizacji: {{ user.user_org }}</a></li>
                    </ul>
                    <h2>Lista jednostek</h2>

                    <ul>
                        <li><a href="{% url 'units_manage' %}"> Zarządzanie jednostkami w organizacji</a></li>
                        {% for unit, workplace_list in workplace_dict.items %}
                            <li><a href="{% url 'workplace_manage' unit.pk %}">{{ unit.name }}</a> -
                                <a href="{% url 'employee_to_unit' unit.pk %}">Pracownicy</a> -
                                <a href="{% url 'schedule_manage' unit.pk %}">Grafiki</a>
                            </li>
                            <ul>
                                {% for workplace in workplace_list %}
                                    <li>{{ workplace.name }} -
                                        <a href="{% url 'employee_to_workplace' workplace.pk %}">Pracownicy</a>
                                        <a href="{% url 'shiftType_manage' workplace.pk %}">Zmiany</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </ul>


                {% else %}
                    <a class="btn btn-lg btn-primary" href="{% url 'login' %}" role="button"> Log in </a>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}