{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/organizations/employee_to_unit.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>
{% endblock head %}

{% block content %}
    <nav style aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Strona główna</a></li>
            <li class="breadcrumb-item">Nazwa organizacji</li>
            <li class="breadcrumb-item" aria-current="page"><span style="font-weight: 600;">Jednostki</span></li>
        </ol>

        <h2 class="mb-4"><a href="{% url 'home' %}"><i class="material-icons"
                                                       style="text-align: center; font-size:24px;">arrow_back_ios</i></a>
            Zarządzanie pracownikami w ramach
            {% if model == 'unit' %}
                jednostek
            {% elif model == 'workplace' %}
                działów
            {% endif %}
        </h2>
        <hr class="breadcrumb">
    </nav>

    <div id="vue-app">
        <div class="row">
            <div class="col">
                <h2 style="text-align: center">Pracownicy</h2>
                <draggable :list="employee_list" group="employee">
                    <div class="card border-dark mb-3" style="max-width: 15rem;" v-for="(employee, i) in employee_list"
                         :key="employee.id">
                        <div class="card-header"><span>[[ employee.first_name ]] [[ employee.last_name ]]</span>
                        </div>
                        <div class="card-body text-dark">
                            <p class="card-text">ID: [[ employee.id ]]</p>
                            <p class="card-text">E-mail: [[ employee.email ]]</p>
                            <p class="card-text">Login: [[ employee.username ]]</p>
                        </div>
                    </div>
                </draggable>
            </div>
            <div class="col">
                <h2 style="text-align: center">Pracownicy w
                    {% if model == 'unit' %}
                        jednostkach
                    {% elif model == 'workplace' %}
                        działach
                    {% endif %}
                </h2>
                <draggable :list="employee_list_unit" group="employee" v-on:change="change_employee">

                    <div class="card border-dark mb-3" style="max-width: 15rem;"
                         v-for="(employee, i) in employee_list_unit" :key="employee.id">
                        <div class="card-header"><span>[[ employee.first_name ]] [[ employee.last_name ]]</span>
                        </div>
                        <div class="card-body text-dark">
                            <p class="card-text">ID: [[ employee.id ]]</p>
                            <p class="card-text">E-mail: [[ employee.email ]]</p>
                            <p class="card-text">Login: [[ employee.username ]]</p>
                        </div>
                    </div>
                </draggable>
            </div>

        </div>
    </div>
{% endblock content %}
{% block vue-content %}
    <script type="application/javascript">
        var app = new Vue({
            delimiters: ["[[", "]]"],
            el: '#vue-app',
            data() {
                return {
                    employee_list: null,
                    employee_list_unit: null,
                    response: null,
                    base_url: {% if model == 'unit' %}
                        '{% url 'employee_to_unit_api' unit_workplace_pk %}' {% elif model == 'workplace' %}
                        '{% url 'employee_to_workplace_api' unit_workplace_pk %}' {% endif %},
                }
            },
            methods: {
                fetch_data() {
                    axios
                        .get(this.base_url)
                        .then(response => (
                            this.employee_list = response.data[0],
                                this.employee_list_unit = response.data[1]
                        ))
                },
                change_employee(evt) {
                    if (evt.added) {
                        axios
                            .post(this.base_url,
                                {
                                    pk: evt.added.element.id,
                                    action: 'add'
                                }
                            )
                    } else if (evt.removed) {
                        axios
                            .post(this.base_url,
                                {
                                    pk: evt.removed.element.id,
                                    action: 'delete'
                                }
                            )
                    }
                }
            },
            mounted() {
                this.fetch_data()
            }
        })
    </script>
{% endblock vue-content %}
