{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% load widget_tweaks %}
{% load static %}

{% block content %}
    <img src="{% static 'img/Logo-Main-Big2.svg' %}" alt="Main Logo" class="large--logo--center">

    <div class="col">
        <div class="text-center">
            <form method="post" class="form--input--style">
                {% csrf_token %}
                <h3 class="mb-3 font-weight-normal">Utwórz nową organizację</h3>

                {% for field in manager_create_form%}
                {% render_field field class+="form-control mb-1" placeholder=field.label   %}
                {%endfor%}
                {% render_field organization_create_form.name class+="form-control mb-1" placeholder="Nazwa organizacji" %}

                <div class="mt-4"><input type="submit" value="Utwórz" class="btn btn-lg btn-outline-primary"></div>
            </form>
        </div>
    </div>

{% endblock content %}
