{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/organizations/units_manage.css' %}"> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>
{% endblock head %}

{% block content %}
    {% comment %} <nav style aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'units_manage' %}"
                                           class="breadcrumb-link">{{ user.user_org }}</a></li>
            <li class="breadcrumb-item current-subpage">Jednostki</li>
        </ol>
        <h2 class="breadcrumb-title">Zarządzanie jednostkami</h2>
        <hr class="breadcrumb" style="opacity: 1">
    </nav> {% endcomment %}

    <div id="vue-app" v-cloak>
        <div class="row d-flex justify-content-between align-items-center mb-2">
            <div class="col d-flex justify-content-start">
                <h6 class="content-title">Lista jednostek</h6>
            </div>
            <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#addUnitModal">
                    Dodaj jednostkę
                </button>
            </div>
        </div>

        <div class="modal fade" id="addUnitModal" tabindex="-1" aria-labelledby="addUnitModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form v-on:submit.prevent="add_unit">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addUnitModalLabel">Dodaj jednostkę</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="row g-3 d-flex align-items-center">
                                <div class="col-4">
                                    <label for="inputName" class="form-label modal-style">Nazwa</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" v-model="name" id="inputName">
                                </div>
                            </div>
                        
                            <label v-for="(field, index) in response" style="color: #FF0000; margin-top: 20px">
                                [[ field.join('') ]]
                            </label>
                        
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary">Dodaj</button>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <data-table 
        v-on:rows-sent-to-delete="datatable_delete_units"
        v-on:rows-sent-to-update="datatable_update_units"
        :fields_options="[{title: 'Jednostka', editable: true, property_name: 'name', type: 'text', highlighted: true, allow_filter: true}]"
        :data_rows="unit_list"
        :options="{start_mobile_view_px: 1450, 
            editable: true, 
            allow_special_edit_mode: true,
            allow_modal_edit_on_mobile: true,
            allow_modal_edit_on_desktop: true,
            always_mobile_mode: true,
        }">
        </data-table>
    </div>
{% endblock content %}

{% block vue-content %}
    <script type="module">
        import DataTable from "{% static 'js/components/DataTable.js' %}";

        const {createApp} = Vue
        var app = createApp({
            delimiters: ["[[", "]]"],
            components: {
                DataTable
            },
            data() {
                return {
                    name: '',
                    unit_list: [],
                    response: null,
                    base_url: '{% url 'unit-list' %}',
                }
            },
            methods: {
                fetch_data() {
                    axios
                        .get(this.base_url)
                        .then(
                            this.response = null
                        )
                        .then(response => (this.unit_list = response.data))
                },
                add_unit() {
                    swal({
                        title: "Potwierdź dodanie jednostki",
                        icon: "info",
                        buttons: true
                    })
                        .then((willAdd) => {
                            if (willAdd) {

                                axios
                                    .post(this.base_url,
                                        {
                                            name: this.name
                                        }
                                    )
                                    .then(
                                        this.fetch_data
                                    )
                                    .catch(error => {
                                            this.response = error.response.data
                                        }
                                    )
                                this.name = ''
                            }
                        });
                },
                
                datatable_delete_units(rows){
                    this.request_delete_loop(rows).then(
                        this.fetch_data
                    )
                },
                async request_delete_loop(rows){
                    for (let i=0; i<rows.length; i++){

                        const current_url = this.base_url + rows[i].id + '/'
                        await axios
                            .delete(current_url,
                                {
                                    id: rows[i].id
                                }
                            ).catch(
                                error => {
                                    this.response = error.response.data
                                }
                            )
                    }
                },
                datatable_update_units(rows){
                    this.request_put_loop(rows).then(
                        this.fetch_data
                    )
                },
                async request_put_loop(rows){
                    for (let i=0; i<rows.length; i++){

                        const current_url = this.base_url + rows[i].id + '/'
                        await axios
                            .put(current_url,
                                {
                                    name: rows[i].name
                                }
                            ).catch(
                                error => {
                                    this.response = error.response.data
                                }
                            )
                    }
                },
            },
            mounted() {
                this.fetch_data()
            }
        }).mount('#vue-app');
    </script>
{% endblock vue-content %}
