{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/organizations/workplace_manage.css' %}"> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>
{% endblock head %}

{% block content %}
    {% comment %} <nav style aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'units_manage' %}"
                                           class="breadcrumb-link">{{ user.user_org }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'units_manage' %}" class="breadcrumb-link">Jednostki</a></li>
            <li class="breadcrumb-item current-subpage">Działy</li>
        </ol>
        <h2 class="breadcrumb-title"><a href="{% url 'units_manage' %}">
            <i class="material-icons breadcrumb-go-back-icon">arrow_back_ios</i></a>Zarządzanie działami</h2>
        <hr class="breadcrumb" style="opacity: 1">
    </nav> {% endcomment %}
    {% if is_any_unit %}
    <div id="vue-app" v-cloak>
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col d-flex justify-content-start mb-1">
                <h3 class="content-title">Lista działów</h3>
            </div>
            <div class="col">
                <div class="row align-items-center mb-1">
                    <div class="col-auto">
                        <label class="col-form-label" for="unitSelect">Jednostka:</label>
                    </div>
                    <div class="col-auto">
                        <select id="unitSelect" class="form-select" v-model="selected_unit" v-on:change="fetch_data">
                            <option v-for="unit in select_unit" :value="unit.id">
                                [[ unit.name ]]
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col d-flex justify-content-end mb-2">
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                        data-bs-target="#addWorkplaceModal">
                    Dodaj dział
                </button>
            </div>
        </div>

        <div class="modal fade" id="addWorkplaceModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form v-on:submit.prevent="add_workplace">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Dodaj dział</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control" v-model="name" id="inputName"
                                           placeholder="Nazwa">
                                    <label for="inputName">Nazwa</label>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary">Dodaj</button>
                        </div>
                    </form>

                    <p v-for="(field, index) in response">
                        [[ index ]] : [[ field.join('') ]]
                    </p>
                </div>
            </div>
        </div>
            [[ workplace_list ]]
            <table class="table styled-table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Dział</th>
                    <th scope="col">Zapisz</th>
                    <th scope="col">Usuń</th>
                </tr>
                </thead>

            <tbody>
            <tr v-for="(workplace, i) in workplace_list" :key="workplace.id">
                <th scope="row"><span>[[ workplace.id ]]</span></th>
                <td><input type="text" class="form-control" v-model="workplace.name"></td>
                </td>
                <td>
                    <button v-on:click="change_workplace(i)" type="button"
                            class="btn btn-primary table-buttons"><i class="material-icons">save</i></button>
                </td>
                <td>
                    <button v-on:click="remove_workplace(workplace.id)" type="button"
                            class="btn btn-danger table-buttons"><i class="material-icons">delete</i></button>
                </td>
            </tr>
            </tbody>
            </table>
    </div>
    {% else %}
        <span>Brak działów</span>
    {% endif %}
{% endblock content %}
{% block vue-content %}
    {% if is_any_unit %}
        <script type="module">
            const {createApp} = Vue
            var app = createApp({
                delimiters: ["[[", "]]"],
                data() {
                    return {
                        name: '',
                        workplace_list: null,
                        response: null,
                        selected_unit: {{ default_unit }},
                        select_unit: {{ select_unit | safe}}
                    }
                },
                // TODO LEPSZE TWORZENIE URLA
                computed: {
                    base_url: {
                        get() {
                            {#return 'http://{{ request.get_host }}/' + 'organizations/api/' + this.selected_unit + '/workplace/'#}
                            return '{% url 'workplace-list' 123456789 %}'.replace(/123456789/, this.selected_unit);
                        }
                    }
                },
                methods: {
                    fetch_data() {
                        axios
                            .get(this.base_url)
                            .then(response => (this.workplace_list = response.data))
                    },
                    add_workplace() {
                        swal({
                            title: "Potwierdź dodanie działu",
                            icon: "info",
                            buttons: true
                        })
                            .then((willAdd) => {
                                if (willAdd) {

                                    axios
                                        .post(this.base_url,
                                            {
                                                name: this.name
                                            }
                                        )
                                        .then(
                                            this.fetch_data
                                        )
                                        .catch(error => {
                                                this.response = error.response.data
                                            }
                                        )
                                    this.name = ''
                                }
                            });
                    },
                    remove_workplace(id) {
                        swal({
                            title: "Czy na pewno chcesz usunąć dział?",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
                            .then((willAdd) => {
                                if (willAdd) {
                                    let url = this.base_url + id + '/'
                                    axios
                                        .delete(url,
                                            {
                                                id: id
                                            }
                                        )
                                        .then(
                                            this.fetch_data
                                        )
                                        .catch(error => {
                                                this.response = error.response.data
                                            }
                                        )
                                }
                            });

                    },
                    change_workplace(i) {
                        let url = this.base_url + this.workplace_list[i].id + '/'
                        swal({
                            title: "Czy chcesz zatwierdzić zmiany",
                            icon: "info",
                            buttons: true
                        })
                            .then((willAdd) => {
                                if (willAdd) {
                                    axios
                                        .put(url,
                                            {
                                                name: this.workplace_list[i].name
                                            }
                                        )
                                        .then(
                                            this.fetch_data
                                        )
                                        .catch(error => {
                                                this.response = error.response.data
                                            }
                                        )

                                }
                            });

                    }
                },
                mounted() {
                    this.fetch_data()
                }
            }).mount('#vue-app');
        </script>
    {% endif %}
{% endblock vue-content %}
